<!-- <div id="container">
    <div id="ranking">
        <img src="../assets/images/icons/ranking.png"> 
    </div>
    <div id="infos">
        <img src="../assets/images/icons/info.png">     
    </div>
    <div id="gifts">
        <a routerLink="/ranking"><img src="../assets/images/icons/present.png"></a>
    </div>
    <div id="notification">
        <img src="../assets/images/icons/notification.png"> 
    </div>
</div> -->

<div class="row align-items-center" style="height: 100%;">
	<div class="col-sm-3"></div>
    <div class="col-sm-2">
        <a routerLink="/notification">
            <img src="../assets/images/icons/notification.png"> 
        </a>
    </div>	
    <div class="col-sm-2">
        <img src="../assets/images/icons/present.png">
    </div>
    <div class="col-sm-2">
        <img src="../assets/images/icons/info.png">     
    </div>
    <div class="col-sm-2">
    	<a routerLink="/ranking"><img src="../assets/images/icons/ranking.png"> </a>
        
    </div>


</div>