  .logo-img{
    height: 37px;
  }
  .header-icon{
    height: 26px;
    margin-left: 12px;
    margin-right: 12px;
  }

@media only screen and (min-width:1024px){
  .logo-img{
    height: 32px;
  }
  .header-icon{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width:1280px){
  .logo-img{
    height: 37px;
  }
  .header-icon{
    height: 26px;
    margin-left: 12px;
    margin-right: 12px;
  }
}


@media only screen and (min-width:1400px){
  .logo-img{
    height: 42px;
  }
  .header-icon{
    height: 29px;
    margin-left: 12px;
    margin-right: 12px;
  }
}




/*  #gifts {
    width: 20%;
  }

  #infos {
    width: 20%;
  }

  #ranking {
      width: 20%
  }
  #info {
      width: 20%
  }*/