<nav id="main-nav">
    <a id="logo" href="#"><img src="assets/img/logos/logo.png"></a>
    <ul id="nav-elements">
        <li>
            <a href="/notifications">
                <img src="/assets/img/icons/notifications.png">
                <div id="new-notifications">2</div>
            </a>
        </li>
        <li>
            <a href="/presents">
                <img src="/assets/img/icons/presents.png">
            </a>
        </li>
        <li>
            <a href="/info">
                <img src="/assets/img/icons/info.png">
            </a>
        </li>
        <li>
            <a href="/ranking">
                <img src="/assets/img/icons/ranking.png">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/img/icons/logout.png">
            </a>
        </li>
    </ul>
</nav>