<main id="content">
  <button class="close" name="close" type="submit" value="close" routerLink="/map">close</button>
  <h2>Notificaciones</h2>
  <div id="inner-content" style="height: 460px;">
      <ng-template ngFor let-item [ngForOf]="notifications" let-i="index">
        <div class="item">
          <!-- <div class="clan-color" style="background-color: #CE3535;width: 50px;height: 50px;top: 15px;margin-top: 20px;"></div> -->
          <img class="item-img" src={{environment.asset_base_url}}{{item.clan_image}} style="width: 70px;height: 70px;top:0px;margin-top: 20px;">
          <p style="color:#ADADAD;font-size: 10px;">Ayer, 13:43</p>
          <h3 style="width: 320px;">¡Únete al Clan de las {{ item.clan_name }}!</h3>
          <p>Te han invitado a participar en un clan.</p>
          <!-- <button (click)="join(item)">UNIRSE A CLAN</button> -->
          <button routerLink="/clan/added/{{item.clan_id}}/">UNIRSE A CLAN</button>
        </div>
      </ng-template>     
  </div><!-- #container -->

</main>
