.login{
	width: 33.2%;
	height: 80%;
	left: 5.3%;
	top: 12%;
	position: absolute;
}
.logo{
	width: 36.3%;
	height: 41%;
	left: 51%;
	top: -5%;
	position: absolute;
}
.login-form{
	width: 34.7%;
	height: 64.1%;
	left:52.85%;
	top: 29%;
	background-color: #88C27E;
	border-radius: 10px;
	position: absolute;

}
.login img{
	width: 100%;
	height: 100%;
}
.logo img{
	width: 100%;
	height: 100%;
}

img.user-icon {
    width: 134px;
    height: 134px;
    display: block;
    margin: auto;
}
.login-form-content{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 15px;
}
.comment-text{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.comment-text-span{
	font-size: 20px;
	color: #5c5c5c;
	line-height: 20px;
}
#input_container{
	position: relative;
}
#input_container input{
	padding-right: 30px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 15px;
	height: 30px;
	width: 100%;
}
.email-span{
	position: absolute;
	height: 100%;
	width: 30px;
	right: 0px;
	top: 0;
	align-items: center;
}
#input_container .material-icons{
	font-size: 20px;
	color: #666666;
}
.my-btn{
    background-color: #3F9D2F;
    color: white;
    margin-top: 15px;
    width: 45%;	
    display: inline-block;
}
.login-btn{
    background-color: #3F9D2F;
    color: white;
    margin-top: 15px;
    width: 100%;	
    display: inline-block;
}

