<div class='container-fluid' style="background-color: #3F9D2F;height: 100%;position: relative;">
  <div class="login">
    <img src="../assets/images/login/login.png">
  </div>
  <div class="logo">
    <img class="top-logo" src="../assets/images/logo/logo-colour2.png">
  </div>
  <div class="login-form">
    <div class="login-form-content">
      <img  class="user-icon" src="../assets/images/login/user_icon.png">
      <ng-container *ngIf="is_reset_done then reset_succes_content else forgot_form_content">
      </ng-container>
      <ng-template #forgot_form_content>
        <div class="comment-text">
          <span class="comment-text-span">Did You Forogot <br>Your Password?</span>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
          <div style="color: #f00;font-size: 14px;margin-bottom: 5px;">
            <strong>{{ message }}</strong>
          </div>
          <div id="input_container">
              <input type="text" id="email" name="email" placeholder="Input your Email" [formControl]="myForm.controls['email']">
              <span class="email-span vertical-child-center">
                  <i class="material-icons">email</i>
              </span>
          </div>
          <a routerLink="/login"><button class="my-btn" mat-raised-button>Cancel</button></a>
          <button type="submit" style="margin-left: 9%;" class="my-btn" mat-raised-button>Send</button>
        </form>
      </ng-template>
      <ng-template #reset_succes_content>
        <div class="comment-text">
          <span class="comment-text-span">
            Your login password has been reseted!
            <br>
            <br>
            Your New Password is <font style="color: #1a2b04;word-wrap: break-word;"><strong>&nbsp;{{new_pwd}}</strong></font>

          </span>
          <a routerLink="/login"><button class="login-btn" mat-raised-button>Login</button></a>
        </div>
      </ng-template>
    </div>
  </div>
</div>