<div id="block">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div>
      <img src="/assets/images/logo/logo.png" class="log-img">
      <div class="formContent" style="position: relative;">

        <ng-container *ngIf="is_reset_done then reset_succes_content else forgot_form_content">
        </ng-container>

        <ng-template #forgot_form_content>
          <div style="color: #f00;font-size: 14px;position: absolute;top: -30px;left: 0;">
            <strong>{{ message }}</strong>
          </div>
          <div>
            <h3>He olvidado mi contraseña</h3>
            <label style="font-style: unset;margin-top: 20px;">
              Introduzca el correo electrónico que usas para conectarte al el juego y recibirás en poco una nueva contraseña. <br/>Siempre podrás cambiarla en Perfil > Editar.
            </label>
          </div>
          <div style="margin-top: 20px;">
            <label><font size="3px">Correo Electrónico</font></label>
            <input type="text" style="border-radius:0px;" [formControl]="myForm.controls['email']" placeholder="nombre@dominio.com">
          </div>
        </ng-template>
        <ng-template #reset_succes_content>
          <div>
            <h3 style="text-align: center;">Tu contraseña de inicio de sesión ha sido restablecida!</h3>
            <label style="margin-top: 20px;">
              Tu nueva contraseña es <strong class="orange-color">&nbsp;{{new_pwd}}</strong>
            </label>
          </div>
        </ng-template>
      </div>    
    </div>
    <div class="actions">
      <div *ngIf="!is_reset_done">
        <button style="position: absolute;top: 0;left: 0px;" type="button" routerLink="/login">VOLVER</button>
        <button style="position: absolute;top: 0;right: 0px;" type="submit">ENVIAR</button>          
      </div>
      <div *ngIf="is_reset_done">
        <button style="position: absolute;top: 0;right: 0px;" routerLink="/login">CONNEXION</button>
      </div>
    </div>
   </form>
</div>
