<header id="player-stats">
  <div id="player-id">
    <a id="profile-pic" routerLink="/profile">
      <img src="assets/img/avatars/t7h.png">
    </a>
    <div id="player-name">
      <h1>
        Sergio Palomeque
      </h1>
      <p class="subtitle">
        Homo Sapiens
      </p>
    </div>
  </div>
  <p id="player-points">
    <span class="label">
      Puntos
    </span>
    <span class="score">
      21000
    </span>
  </p>
  <p id="player-coins">
    <span class="label">
      Monedas
    </span>
    <span class="score">
      535
    </span>
  </p>
</header>
