/*QUASI CSS*/
#player-stats{
    top:48px;
    left:0;
    width: 100%;
    height: 113px;
    padding: 14px 40px 0 40px;
    display: block;
    z-index: 3;
    position: fixed;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
  }
    #player-id{
      width: 350px;
      position: absolute;
      top: 14px;
      left: 40px;
    }
    #player-points,
    #player-coins{
      width: 134px;
      height: 36px;
    }
    #player-points{
      position: absolute;
      top: 14px;
      right: 0;
      left:0;
      margin: auto;
    }
    #player-coins{
      position: absolute;
      top: 14px;
      right: 40px;
    }

        #profile-pic{
          width: 100px;
          height: 90.16px;
          position: absolute;
          top: 0;
          left: 0;
        }
          #profile-pic img{
            width:110%;
            margin-top: -20%;
            margin-left: -20%;
            height: auto;
          }
        #player-name{
          position: absolute;
          top: 0;
          left: 100px;
        }
      #player-points .label,
      #player-coins .label{
        display: block;
        position: absolute;
        left:0;
        bottom: 0;
      }
      #player-points .score,
      #player-coins .score{
        display: block;
        position: absolute;
        right:0;
        bottom: 0;
      }
/* RESPONSIVE EXTRAS */
  /* HEADER */
    @media screen and (max-width: 960px){
      #player-points{
        right: 0;
        left:216px;
        margin: auto;
      }
    }
    @media screen and (max-width: 740px){
      #player-stats{
        min-width: 560px;
      }
      #player-points{
        right: 40px;
        left:initial;
        margin: initial;
      }
      #player-coins{
        top: 38px;
      }
    }
/*Origin CSS*/
div.top{
  height: 88px;
}
.avatar-img {
    border-radius: 50%;
    border: 3px solid #ddd;
    border-color: #464344;
    width: 68px;
    height: 68px;
    margin-left: -20px;
    background-color: #e2e2e2;
}



label.username{
  font-family: Raleway;
  font-size: 24px;
  color:white;
  font-weight: 500;
}
label.levelname{
  font-family: Raleway;
  font-size: 18px;
  color:#fe8d00;
  font-weight: 500;
}
label.key{
  font-family: Raleway;
  font-size: 20px;
  color:white;
  font-weight: 300;
}
label.value{
  font-family: Raleway;
  font-size: 28px;
  color:#fe8d00;
  font-weight: 900;

}
div.header {
  background-color: rgba(0,0,0,0.46);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width:1280px){
  .avatar-img{
    width: 82px;
    height: 82px;
  }
  label.username{
  font-size: 30px;
  }
  label.levelname{
    font-size: 24px;
  }
  label.value{
    font-size: 36px;
  }
  label.key{
    font-size: 24px;
  }
  div.top{
    height: 108px;
  }
}
@media only screen and (min-width:1400px){
  .avatar-img{
    width: 90px;
    height: 90px;
  }
  label.username{
  font-size: 34px;
  }
  label.levelname{
    font-size: 28px;
  }
  label.value{
    font-size: 40px;
  }
  label.key{
    font-size: 28px;
  }
  div.top{
    height: 115px;
  }
}
