<!-- <div class="container">
  <div class="row">
    <div class="col-sm-2" style="border:3px solid green">
      <img src="../assets/images/avatars/bronnikov for vs.png" style="width: 100px; height: 100px;">
    </div>
  </div>
</div> -->

<div id="container">
  <div id="avatar">
    <a routerLink="/profile">
      <img src="{{user.image_url}}"> 
    </a>
      
  </div>
  <div id="avatar-property" style="margin-top: 20px;">
    <div style="float: left;">
      <label >PUNTOS: {{user.points}}</label><br>
      <label>NIVEL: {{user.level}}</label>     
    </div>
    <div style="margin-left: 45px;float: left;">
      <label>MONEDAS: {{user.coins}}</label>
    </div>
  </div>
</div>

