<!-- <div class="header row">
  <div style="text-align:left; border:3px solid green;  display: inline-block; width: 49%; height: 100px;">
    <p>
      <app-user-header></app-user-header>
    </p>
  </div>
  <div style="text-align:right; border:3px solid green; display: inline-block; width: 50%; height: 100px; ">
    <p>
      App Present
    </p>
  </div>
</div> -->

<div class="container">
  <div class="row header">
    <div class="col-sm-6">
      <app-user-header></app-user-header>
    </div>
    <div class="col-sm-6">
      <app-gis></app-gis>
    </div>
  </div>
</div>
