<main id="content">
  <button class="close" name="close" type="submit" value="close" routerLink="/map">close</button>
  <h2>¡Felicidades!</h2>
  <div id="inner-content">
  	<img src="../assets/images/icons/present.png" class="gift-img">
  	<p style="subtitle" style="text-align: center;">
  		¡Haz comprado un Regalo!
  	</p>
  	<h3 style="text-align: center;">
  		Cafetera Nespresso "{{gift.title}}"
  	</h3>
  </div><!-- #container -->
  <div id="main-actions">   
    <!-- <button (click)="view_detail()">VER REGALO</button> -->
    <button style="display: none;"></button>
    <button (click)="view_list()">REGALOS</button>
  </div>
</main>
