<main id="content">
	<button class="close" name="close" type="submit" value="close" routerLink="/map">close</button>
	<h2>Mi Perfil</h2>
	<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
	<div id="inner-content">
		
			<div class="row justify-content-between" style="width: 100%; margin:auto;">
				<div class="col-sm-7" style="position: relative;">
					<div [class.is-invalid]="!myForm.controls['first_name'].valid && myForm.controls['first_name']. touched">
						<label><font size="3px">Nombre</font></label>
						<label *ngIf="!myForm.controls['first_name'].valid && myForm.controls['first_name']. touched">(required)</label>
						<input type="text" style="border-radius:0px;" [formControl]="myForm.controls['first_name']" placeholder="Nombre de clan">
					</div>
					<div [class.is-invalid]="!myForm.controls['last_name'].valid && myForm.controls['last_name']. touched">
						<label><font size="3px">Apellido</font></label>
						<label *ngIf="!myForm.controls['last_name'].valid && myForm.controls['last_name']. touched">(required)</label>
						<input type="text" style="border-radius:0px;" [formControl]="myForm.controls['last_name']" placeholder="Apellido">
					</div>
					<div style="position: absolute;bottom: 10px;left:30px;">
						<button class="item-button" [routerLink]="['/update_password']">CAMBIAR CONTRASEÑA</button>
					</div>
				</div>
				<div class="col-sm-4">
					<label><font size="3px">Avatar</font></label>
					<div class="row" style="width: 135px;">
						<ng-template ngFor let-item [ngForOf]="avatars" let-i="index">
							<div style="display: inline-block;">
								<div class="vertical-child-center user-avatar" (click)="set_selected(item)" [class.selected]="item.value==selected?.avatar">	
									<img src="{{environment.asset_base_url}}{{item.images[selected.level]}}" style="width: 100%;">
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		
	</div><!-- #container -->
	<div id="main-actions">		
		<button routerLink="/profile" type="button">CANCELAR</button>
		<button type="submit">GUARDAR</button>
	</div>
	</form>
</main>
