form input[type=text] {
  border: none;
    background: none;  
    border-bottom: 2px solid;
  border-bottom-color:  #FF870D;
    padding: 5px;
  padding-left: 5px;
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
  margin-top: -25px;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}
form input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 10px #FF870D;
  caret-color:white;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}
.item-button{
    font-size: 18px;
    line-height: 38px;
    height: 38px;
}

.is-invalid input[type=text]{
  
  outline: none;
  box-shadow: 0 0 10px red;
  caret-color:white;
  color: white;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  -webkit-input-placeholder: 'Required'; 
}

.is-invalid label {
  color: red;
}
.user-avatar{
  width: 65px;
  height: 65px;
}
.user-avatar.selected{/*
  border-radius: 50%;
  border: 2px solid rgb(54, 53, 53);
    border-color: #fe8d00;*/
}
.selected-bg-img{
  position: absolute;
  width: 70px;
  z-index: -1;
  top:-13px;
  display: none;
}
.selected .selected-bg-img{
  display: block;

}