.content {
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	float: left
}
.col-form-label{
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 300;
    font-size: 22px;
    text-align: left;
}
@media only screen and (min-width:1280px){
 .col-form-label{
  font-size: 25px;  
 } 
}
form input{
	background-color: #EDEDED;
	border-radius: 5px;
	padding: 5px;
}
.button-store {
    background-color: #FE8D00;
    color: #fff;
    height: 40px;
    text-align: left;    
}
@media only screen and (min-width: 1280px){
    .button-store{
        height: 50px;
    }
}

.user-image{
    /* position:absolute; */
    width: 100%;
}
.user-avatar {
    width:120px;
    height: 120px;
    border-radius: 60%;
    background-color:antiquewhite;
    border: 2px solid rgb(54, 53, 53);
}
.is-invalid input{
  border-color: #dc3545;
  border-style: solid;
  border-width: 2px;
}
.invalid-feedback{
    display: none;
    width: 100%;
    margin-top: .25rem;
    line-height: 25px;
    font-size: 15px;
    font-weight: 600;
     /*font-family: Raleway;*/
    color: #dc3545;
    background-color: rgb(0,0,0,0.5);
    margin-bottom: .25rem;
}
.is-invalid > .invalid-feedback{
  display: block;
}
.btn-cancel{
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 500;
}
@media only screen and (min-width:1280px){
 .btn-cancel{
  font-size: 24px;  
 } 
}