<div class="background-fx">
	<app-user-header></app-user-header>
	<div class="content container" style="position: relative;">
		<div style="position: absolute; right: -30px;top: -30px;" [routerLink]="['/map']">
			<i class="material-icons md-bold md-80 md-white" >close</i>
		</div>
		<div class="row align-items-center">
	        <div class="col-sm-8">
	          <span class="content-font1" style="margin-left: 0px;color: #fff;">Cambiar la contraseña</span>
	        </div>
		</div>
		<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
		<div class="row" style="margin-top: 30px;border-bottom-style: solid;border-bottom-color: #fff;padding-bottom: 50px">
			<div class="col">
				
		          <div style="color: #f00;font-size: 14px;	margin-bottom: 5px;">
		            <strong>{{ message }}</strong>
		          </div>
					<div class="row no-gutters">
						<label class="col-12 col-form-label content-font2">Introduce la contraseña actual</label>
						<div class="col-5" [class.is-invalid]="!myForm.controls['old_pwd'].valid && myForm.controls['old_pwd'].touched">
							<input type="password" class="form-control" [formControl]="myForm.controls['old_pwd']" name="name">
							<div class="invalid-feedback">
								required
							</div>
						</div>
					</div>
					<div class="row no-gutters">
						<label class="col-12 col-form-label  content-font2">Introduce nueva contraseña</label>
						<div class="col-5" [class.is-invalid]="!myForm.controls['new_pwd'].valid && myForm.controls['new_pwd']. touched">
					    	<input type="password" class="form-control " [formControl]="myForm.controls['new_pwd']" >
							<div class="invalid-feedback">
								required
							</div>
						</div>
					</div>
					<div class="row no-gutters" style="margin-top: 20px;">
						<label for="repeat_pwd" class="col-12 col-form-label  content-font2">Repite la contraseña</label>
						<div class = "col-5" [class.is-invalid]="myForm.errors?.mismatch">
					    	<input type="password" class="form-control" [formControl]="myForm.controls['repeat_pwd']">
							<div class="invalid-feedback">
								Password does not match
							</div>
						</div>
					</div>
			</div>
			<div class="col-sm-2">
				
			</div>
		</div>
		<div style="margin-top: 50px; float: right;">
			<span [routerLink]="['/map']" class="btn-cancel" style="color: #fff;margin-right: 40px;">Cancelar</span>
			<button class="button-store btn-font1" mat-raised-button type="submit">GUARDAR</button>
		</div>
		</form>
	</div>
</div>