#map{
    position: fixed;
    overflow: auto;
    width: 90%;
	height: 80%;
    margin: 128px auto auto auto;
    /* -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 5px 6px 0 rgba(0,0,0,.16);
            box-shadow: 0 5px 6px 0 rgba(0,0,0,.16); */
}
.map-height{
	height: calc(100% - 88px - 10px);
}
@media only screen and (min-width:1280px){
	.map-height{
		height: calc(100% - 108px - 10px);
	}
}
@media only screen and (min-width:1400px){
	.map-height{
		height: calc(100% - 115px - 10px);
	}
}
