<div class="background-fx" >
	<div style="width: 90%;height: 600px;position: relative;margin-left: 5%;margin-top: 50px;">
		<ng-template ngFor let-item [ngForOf]="territories" let-i="index">

	  		<div style="width:21.1%;height: 19.8%;position: absolute;" [style.left.%] = "get_left_position(i)" [style.top.%]="get_top_position(i)">
	  			<a *ngIf="i == is_conquering_id - 1" routerLink="/conquer/{{item.id}}" style="text-decoration: none">
	  				<div>	  					
	    				<app-territory [territory]="territories[i]" [state]="true"></app-territory>
	    			</div>
				</a>
				<div>
					<app-territory [territory]="territories[i]" [state]="true"></app-territory>
				</div>
	    	</div>
		</ng-template>
	</div>
</div>

