#map{
    z-index: 2;
    position: relative;
    overflow: auto;
    width: 1100px;
	height: 600px;
    margin: 180px auto 64px auto;
    /* margin: auto; */
    /* -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 5px 6px 0 rgba(0,0,0,.16);
            box-shadow: 0 5px 6px 0 rgba(0,0,0,.16); */
}
.map-height{
	height: calc(100% - 88px - 10px);
}
@media only screen and (min-width:1280px){
	.map-height{
		height: calc(100% - 108px - 10px);
	}
}
@media only screen and (min-width:1400px){
	.map-height{
		height: calc(100% - 115px - 10px);
	}
}
