<!-- <div class="background-fx" style="position: relative;">
	<app-user-header></app-user-header>
	-->
<div id="map">
	<div style="position: relative;" class="map-height">
		<ng-template ngFor let-item [ngForOf]="territories" let-i="index">

	  		<div style="width:18%;height: 17.8%;position: absolute;" [style.left.%] = "get_left_position(i)" [style.top.%]="get_top_position(i)">
	  			<a *ngIf="!item.lock_state" routerLink="/conquer/{{item.id}}" style="text-decoration: none">
	  				<div style="position: relative;">
	    				<app-territory [territory]="territories[i]" [state]="true"></app-territory>
	    			</div>
				</a>
				<div *ngIf="item.lock_state" style="position: relative;">
					<app-territory [territory]="territories[i]" [state]="true"></app-territory>
				</div> 
	    	</div>
		</ng-template>
	</div>
</div>

