<div class="container">
	<div class="row align-items-center">
		<div class="col" style="text-align: center;">
			<span class="head-text"><font color="#FE8D00">Selecciona un avatar</font></span>	
		</div>
	</div>
	<div class="row">
		
	</div>
	<div class="row justify-content-center" style="margin-top: 40px;margin-bottom: 40px;">
		<ng-template ngFor let-item [ngForOf]="avatars" let-i="index">
			<div class="vertical-child-center user-avatar" (click)="set_selected(item)" [class.selected]="item.value==selected">
				<img src="{{environment.asset_base_url}}{{item.image}}" style="width: 150px;">
			</div>
		</ng-template>
	</div>
	<div class="row justify-content-center">
		<div >
		  	<button class="store-button" mat-button [mat-dialog-close]="selected" style="background-color: #FE8D00;">
				<span><font color="white">Guardar</font></span>
		  	</button>			
		</div>
	</div>	
</div>