<div class='container-fluid' style="background-color: #3F9D2F;height: 100%;position: relative;">
  <div class="login">
    <img src="../assets/images/login/login.png">
  </div>
  <div class="logo">
    <img class="top-logo" src="../assets/images/logo/logo-colour2.png">
  </div>
  <div class="login-form">
    <div class="login-form-content">
      <img  class="user-icon" src="../assets/images/login/user_icon.png">
      <ng-container *ngIf="is_reset_done then reset_succes_content else forgot_form_content">
      </ng-container>
      <ng-template #forgot_form_content>
        <div class="comment-text">
          <span class="comment-text-span">Iniciar sesión</span>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
          <div style="color: #f00;font-size: 14px;margin-bottom: 5px;">
            <strong>{{ message }}</strong>
          </div>
          <div class="input_container">
              <input type="text" id="user_id" name="user_id" placeholder="Email" [formControl]="myForm.controls['user_id']">
              <span class="email-span vertical-child-center">
                  <i class="material-icons">person</i>
              </span>
          </div>
          <div class="input_container">
              <input type="password" id="password" name="password" placeholder="Password" [formControl]="myForm.controls['password']">
              <span class="vertical-child-center">
                  <i class="material-icons">vpn_key</i>
              </span>
          </div>
          <button type="submit" class="submit-btn" mat-raised-button>Iniciar sesión</button>
        </form>
          <label class="notify pointer" (click)="go_to_forgot()" ><font size="3px" color="#fff">Has olvidado la contraseña?</font></label>
      </ng-template>
    </div>
  </div>
</div>