<div id="block">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div>
      <img src="/assets/images/logo/logo.png" class="log-img">
      <div class="formContent" style="position: relative;">
        
          <div style="color: #f00;font-size: 14px;position: absolute;top: -30px;left: 0;">
            <strong>{{ message }}</strong>
          </div>


          <div>
            <label><font size="3px">Correo Electrónico</font></label>
            <input type="text" style="border-radius:0px;" [formControl]="myForm.controls['user_id']" placeholder="nombre@dominio.com">
          </div>
          <div>
            <label><font size="3px">Contraseña</font></label>
            <input type="password" style="border-radius:0px;" [formControl]="myForm.controls['password']" placeholder="******************">
          </div>      
          <div>
             <label class="open-container orange-color">No cerrar sesión
              <input type="checkbox">
              <span class="open-checkmark"></span>
            </label>
            <label>
              &nbsp;&nbsp;&nbsp;
            </label>
            <button routerLink="/reset_password" style="display: inline-block;padding: 0px;line-height: 20px;height: 20px;" type="button">
              <label class="orange-color ft-sz-12 pointer" >
                ¿Has olvidado la contraseña?
              </label>
            </button>
          </div>
      </div>    
    </div>
    <div class="actions">
        <button style="position: absolute;top: 0;right: 0px;" type="submit">ENTRAR</button>  
    </div>
   </form>
</div>

