.login{
    width: 33.2%;
    height: 80%;
    left: 5.3%;
    top: 12%;
    position: absolute;
}
.logo{
    width: 36.3%;
    height: 41%;
    left: 51%;
    top: -5%;
    position: absolute;
}
.login-form{
    width: 30%;
    height: 60%;
    left:54%;
    top: 25%;
    background-color: #88C27E;
    border-radius: 10px;
    position: absolute;

}
.login img{
    width: 80%;
    height: 83%;
    margin-left: 20%;
    margin-top: 10%;
}
.logo img{
    width: 50%;
    height: 45%;
    margin-left: 25%;
    margin-top: 20%;
}

img.user-icon {
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
}
.login-form-content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.comment-text{
    margin-top: 5%;
    /* margin-bottom: 30px; */
    text-align: center;
}
.comment-text-span{
    font-size: 14px;
    color: #5c5c5c
}
.input_container{
    margin-top: 5%;
    position: relative;
}
.input_container input{
    padding-right: 20%;
    padding-left: 5%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 10px;
    /* height: 50%; */
    width: 100%;
}
.input_container span{
    position: absolute;
    height: 100%;
    width: 30px;
    right: 5px;
    top: 0;
    align-items: center;
}
.input_container .material-icons{
    font-size: 20px;
    color: #666666;
}
.submit-btn{
    background-color: #3F9D2F;
    color: white;
    margin-top: 15px;
    width: 100%;    
}
label.notify {
    margin-top: 5%;
    margin-left: 10%;
    font-size:  13px;
    width: 100%;  
}

@media only screen and (min-width:1280px){
	label.notify {
        margin-left: 23%;
        font-size: 14px;   
	}
}

@media only screen and (min-width:1440px){
    
    .comment-text-span{
        font-size: 20px;
        color: #5c5c5c
    }

    .input_container input{
        padding-right: 20%;
        padding-left: 5%;
        padding-top: 4%;
        padding-bottom: 4%;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        /* height: 50%; */
        width: 100%;
    }
    .submit-btn{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
    }
	label.notify {
        margin-left: 10%;
        font-size: 20px;   
	}
}