button.launch{
    width: 80%;
    height: 60px;
    border-radius: 40px;
    opacity: 0.8;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

button.conquerred{
    width: 80%;
    height: 60px;
    border-radius: 40px;
    opacity: 0.8;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #FF7F00;
}

div.overlay-lock{
    position: absolute;
    top: 50%;
    left: 15%;
}

.territory-clan-avatar{
    position:absolute;
    width: 40%;
    height: 60%;
    left:-5%;
    top:-5%;
    z-index: 2;
}
.territory-lock-icon{
    position:absolute;
    width: 20%;
    left:85%;
    top:35%;
    z-index: 3
}
.territory-state-txt{
    position: absolute;
    top: 80%;
    left: 9%;
    color:rgb(60, 58, 189);
    font-size: 18pt;
    z-index: 3;
    background-color: rgb(209, 206, 221);
    height: 20%;
    border-radius: 30%;
    font-family: Raleway;
}
.territory-image{
    position:relative;
    width: 100%;
    height: 100%;
    z-index: 2
}
.territory-outline{
    -webkit-mask-image: url("/assets/images/outline-mask.png");
    -webkit-mask-size: 100% 100%;
    background-color: #f00;
}
