<div style="text-align: center;">	
	<img src={{territory.image_url}} [class.territory-outline]= "is_clan_exists()" [style.background-color]= territory.clan_info class="territory-image">
	<ng-container *ngIf="state">
		<img  *ngIf="is_clan_exists()" class="territory-clan-avatar"  src={{territory.badge_url}}>
		<img *ngIf="territory.lock_state" class="territory-lock-icon"  src="../assets/images/icons/lock small.png">
		<label><strong *ngIf="is_conquering" class="territory-state-txt">¡CONQUISTAR!</strong></label>
	</ng-container>
</div>