<div style="text-align: center;">	
	<img src={{environment.asset_base_url}}{{territory.image_url}} [class.territory-outline]= "is_clan_exists()" [style.background-color]= territory.clan_color class="territory-image">
	<ng-container *ngIf="state">
		<img  *ngIf="is_clan_exists()" class="territory-clan-avatar"  src="{{ environment.asset_base_url}}{{territory.clan_img }}">
		<img *ngIf="territory.lock_state" class="territory-lock-icon"  src="../assets/images/icons/lock small.png">
		<label><strong *ngIf="!territory.lock_state" class="territory-state-txt">¡CONQUISTAR!</strong></label>
	</ng-container>
</div>