<div class="Main">
	<app-gis></app-gis>	
	<app-user-header></app-user-header>	
	<router-outlet></router-outlet>

	<!--	
	<div style="height: 100%;width:100%;position: absolute;left: 0;top: 0;z-index: -1;overflow: hidden;">
		<div style="position: relative;height: 100%;width:100%;">
			<div class="first_image">
				<img src="assets/images/clouds.png" style="width: 100%;">
				<img src="assets/images/clouds.png" style="width: 100%;">
				
			</div>
			<img src="assets/images/clouds.png" class="second_image">
		</div>
	</div>
	-->
</div>