<div class="container-fluid" style="height: 100%;position: relative;">
	<div style="height: 8%;">
	  <app-header></app-header>
	</div>
	<div style="height: 92%;overflow-x: hidden;overflow-y:auto; ">
		<router-outlet></router-outlet>
	</div>
	<div style="height: 100%;width:100%;position: absolute;left: 0;top: 0;z-index: -1;overflow: hidden;">
		<div style="position: relative;height: 100%;width:100%;">
			<div class="first_image">
				<img src="assets/images/clouds.png" style="width: 100%;">
				<img src="assets/images/clouds.png" style="width: 100%;">
				
			</div>
			<img src="assets/images/clouds.png" class="second_image">
		</div>
	</div>

<div>


