.content {
    /*margin: 50px;*/
	min-height: 620px;
	/*width: 90%;*/
	background-color: rgba(0,0,0,0.30);
	float: left
}
.ul.li-item{
    min-height: 130px;
}
.ul{
    height: 430px;
    width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing: content-box;     
}
.clan-image{
    /* position:absolute; */
    width: 140%;
}
.clan-avatar {
    width: 80px;
    height: 80px;
    border-radius: 60%;
    background-color:antiquewhite;
    border: 2px solid rgb(54, 53, 53);
}
.main-button span{
    line-height: 29px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px ;
    text-align: left;
    border-radius: 5px;
}
.join-clan-button{
    background-color: #3F9D2F;
    border: 0px solid #D1D1D1;
    border-radius: 5px;
}
.header-text{
    line-height: 44px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 300;
    font-size: 36px;
    text-align: left;
}
.rank-number{
    line-height: 59px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    top: 0px;
}
.border-bottom{
    border-bottom-style: solid;
    border-bottom-color: #fff;
    padding-bottom: 20px;
}