<!--
<div class="background-ranking">
	<app-user-header></app-user-header>
		<div class="row top" style="margin-left: 10px;margin-bottom: 20px;">
			<div class="col-sm-10" style="padding-left: 50px;">
				<span class="title-text">LIVE RANKING</span>
			</div>
			<div class="col-sm-2" style="margin-top: -20px;">
				<a routerLink="/map">
					<div>
						<i class="material-icons md-bold cross-size md-white">close</i>
					</div>				
				</a>
			</div>
		</div>
		<div class="row" style="margin:0;margin-left: 10px;">
			<div class="col-sm-2" style="margin-left: 50px;">
				<span class="header-text" >Clan</span>
			</div>
			<div class="col">
				
			</div>
			<div class="col-sm-4">
				<span class="header-text" >PUNTOS</span>
			</div>	
		</div>
		<div style="width: 90%;overflow: hidden; height: 63%;">
			<div style="padding-left: 30px;" class="ul">
				<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
					<div class="row li-item align-items-center" style="margin-top: 0px;">
						<div class="col-sm-1" style="text-align: right;">
							<span class="rank-number">{{i+1}}. </span>
						</div>
						<div class="row align-items-center col-sm-10 border-bottom">
							<div class="col-sm-2 ">
				                <div class="clan-avatar vertical-child-center">
				                	<img style="margin: -15px;" src="{{environment.asset_base_url}}{{item.image}}" class="clan-image">
				                </div>
							</div>
							<div class="col-sm-7" style="padding-top: 20px;">
								<span class="content-text" style="margin-top: 20px; margin-left: 20px;" [style.color]="item.clan_color">{{item.name}}</span>
							</div>
							<div class="col-sm-1">

							</div>
							<div class="col-sm-2" >
								<span class="points-text">{{item.points}}</span>
							</div>							
						</div>
	
					</div>

				</ng-template>
			</div>
		</div>
</div>
-->

<main id="content" *ngIf="is_loaded==true">
	<button routerLink="/map" class="close" name="close" type="submit" value="close">close</button>
	<h2>Progreso Mision</h2>

	<div class="row" style="margin-left: 30px; padding-top: 15px; width: 90%;">
		<div class="col-9" style="padding-left: 80px;">
			<p style="font-style: Italic;">Ranking Clanes</p>
		</div>
		<div class="col-3" style="padding-left: 50px">
			<p style="font-style: Italic;">Puntos</p>
		</div>
	</div>

	<hr class="before-hr">
	<hr class="after-hr">


	<div id="inner-content" style="height: 360px; margin-top:10px; margin-bottom: 10px;">
		<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
			<div class="row" style="width:95%; margin-left: 30px;">
				<div class="col-1">
					<h3 style="margin: 10px; margin-top: 35px;">{{i+1}}</h3>
				</div>
				<div class="col-2">
					<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{getClanImg(item.clan_color)}}>
					<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{item.image}}>
				</div>
				<div class="col-6">
					<div style="margin-left: -20px; margin-top: 20px;">
						<h3>{{item.name}}</h3>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-4" style="margin-left: -20px;">
							<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
						</div>
						<div class="col-4">
							<button class="view-clan-button">Ver Clan</button>
						</div>
						<div class="col">

						</div>						
					</div>
				</div>

				<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
					<h3>{{item.points}}</h3>
				</div>
			</div>
			
		</ng-template>

		<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
			<div class="row" style="width:95%; margin-left: 30px;">
				<div class="col-1">
					<h3 style="margin: 10px; margin-top: 35px;">{{i+1}}</h3>
				</div>
				<div class="col-2">
					<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{getClanImg(item.clan_color)}}>
					<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{item.image}}>
				</div>
				<div class="col-6">
					<div style="margin-left: -20px; margin-top: 20px;">
						<h3>{{item.name}}</h3>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-4" style="margin-left: -20px;">
							<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
						</div>
						<div class="col-4">
							<button class="view-clan-button">Ver Clan</button>
						</div>
						<div class="col">

						</div>						
					</div>
				</div>

				<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
					<h3>{{item.points}}</h3>
				</div>
			</div>
			
		</ng-template>

		<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
			<div class="row" style="width:95%; margin-left: 30px;">
				<div class="col-1">
					<h3 style="margin: 10px; margin-top: 35px;">{{i+1}}</h3>
				</div>
				<div class="col-2">
					<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{getClanImg(item.clan_color)}}>
					<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{item.image}}>
				</div>
				<div class="col-6">
					<div style="margin-left: -20px; margin-top: 20px;">
						<h3>{{item.name}}</h3>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-4" style="margin-left: -20px;">
							<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
						</div>
						<div class="col-4">
							<button class="view-clan-button">Ver Clan</button>
						</div>
						<div class="col">

						</div>						
					</div>
				</div>

				<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
					<h3>{{item.points}}</h3>
				</div>
			</div>
			
		</ng-template>

		<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
			<div class="row" style="width:95%; margin-left: 30px;">
				<div class="col-1">
					<h3 style="margin: 10px; margin-top: 35px;">{{i+1}}</h3>
				</div>
				<div class="col-2">
					<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{getClanImg(item.clan_color)}}>
					<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{item.image}}>
				</div>
				<div class="col-6">
					<div style="margin-left: -20px; margin-top: 20px;">
						<h3>{{item.name}}</h3>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-4" style="margin-left: -20px;">
							<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
						</div>
						<div class="col-4">
							<button class="view-clan-button">Ver Clan</button>
						</div>
						<div class="col">

						</div>						
					</div>
				</div>

				<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
					<h3>{{item.points}}</h3>
				</div>
			</div>
			
		</ng-template>

		<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
			<div class="row" style="width:95%; margin-left: 30px;">
				<div class="col-1">
					<h3 style="margin: 10px; margin-top: 35px;">{{i+1}}</h3>
				</div>
				<div class="col-2">
					<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{getClanImg(item.clan_color)}}>
					<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{item.image}}>
				</div>
				<div class="col-6">
					<div style="margin-left: -20px; margin-top: 20px;">
						<h3>{{item.name}}</h3>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-4" style="margin-left: -20px;">
							<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
						</div>
						<div class="col-4">
							<button class="view-clan-button">Ver Clan</button>
						</div>
						<div class="col">

						</div>						
					</div>
				</div>

				<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
					<h3>{{item.points}}</h3>
				</div>
			</div>
			
		</ng-template>

		<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
			<div class="row" style="width:95%; margin-left: 30px;">
				<div class="col-1">
					<h3 style="margin: 10px; margin-top: 35px;">{{i+1}}</h3>
				</div>
				<div class="col-2">
					<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{getClanImg(item.clan_color)}}>
					<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{item.image}}>
				</div>
				<div class="col-6">
					<div style="margin-left: -20px; margin-top: 20px;">
						<h3>{{item.name}}</h3>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-4" style="margin-left: -20px;">
							<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
						</div>
						<div class="col-4">
							<button class="view-clan-button">Ver Clan</button>
						</div>
						<div class="col">

						</div>						
					</div>
				</div>

				<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
					<h3>{{item.points}}</h3>
				</div>
			</div>
			
		</ng-template>

		
		
		
	</div><!-- #container -->

	<div id="main-actions" >
		<div class="row" style="width:580px; margin-left: -35px; margin-top: -35px;">
			<div class="col-6">
				<p style="font-style: Italic;">Clan Propio</p>
			</div>
			<div class="col-3">
				<p style="font-style: Italic;">Puntos Aportados</p>
			</div>
			<div class="col-3" style="padding-left: 30px;">
				<h3>350</h3>
			</div>
		</div>

		<div class="row" style="width:580px; margin-left: -35px; margin-top: -15px;">
			<div class="col-1">
				<h3 style="margin: 10px; margin-top: 35px;">1</h3>
			</div>
			<div class="col-2">
				<img style="width:50px; height: 50px; margin-left: -10px; margin-top: 20px;" src={{current_clan_color}}>
				<img style="position: absolute; width: 60px; height: 60px; top: 20px; left: -5px;" src={{environment.asset_base_url}}{{current_clan.image}}>
			</div>
			<div class="col-6">
				<div style="margin-left: -20px; margin-top: 20px;">
					<h3>{{current_clan.name}}</h3>
				</div>
				<div class="row" style="margin-top: 5px;">
					<div class="col-4" style="margin-left: -20px;">
						<p style="font-size: 14px;">{{current_clan.joined_members + 1}}/{{current_clan.max_members}}</p>
					</div>
					<div class="col-4">
						<button class="view-clan-button" style="position: relative; top: 0px; left: 0px;">Ver Clan</button>
					</div>
					<div class="col">

					</div>						
				</div>
			</div>

			<div class="col-3" style="margin-top: 30px; padding-left: 30px;">
				<h3>{{current_clan.points}}</h3>
			</div>
		</div>
	</div>
</main>


