
.scroller:before {
  top: 95px;
}

.scroller:after {
  bottom: 143px;
}

.view-clan-button {
  width:70px;
  height: 20px;
  font-size: 14px;
  padding: 0px;
  top: 0px;
  line-height: 20px;
}

.before-hr {
  position:absolute;
  top: 80px;
  border-color: white;
  margin-left: 68px;
  border-width: 1px;
  width: 83%;
}

.after-hr {
  position:absolute;
  bottom: 126px;
  border-color: white;
  margin-left: 68px;
  border-width: 1px;
  width: 83%;
}

/* .content {
    
	min-height: 620px;
	
	background-color: rgba(0,0,0,0.30);
	float: left
}
.ul.li-item{
    min-height: 130px;
}
.ul{
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing: content-box;     
}
.clan-image{
    width: 70px;
    height: 70px;
}
.clan-avatar {
    width: 80px;
    height: 80px;
    border-radius: 60%;
    background-color:antiquewhite;
    border: 2px solid rgb(54, 53, 53);
}
.main-button span{
    line-height: 29px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px ;
    text-align: left;
    border-radius: 5px;
}
.join-clan-button{
    background-color: #3F9D2F;
    border: 0px solid #D1D1D1;
    border-radius: 5px;
}
.header-text{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}

.rank-number{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    top: 0px;
}
.border-bottom{
    border-bottom-style: solid;
    border-bottom-color: #fff;
    padding-bottom: 10px;
}
.points-text{
  font-family: Raleway;
  font-size: 30px;
  color:#fe8d00;
  font-weight: 700;
}
.top{
    margin: 0;
    margin-top: 20px;
}
@media only screen and (min-width:1280px){
  .header-text{
    font-size: 28px;
  }
  .rank-number{
    font-size: 36px;
  }
  .clan-image{
    width: 90px;
    height: 90px;
  }
  .points-text{
    font-size: 36px;
  }
  .top{
    margin-top: 50px;
  }
  .border-bottom{
    padding-bottom: 20px;
  }
}
@media only screen and (min-width:1400px){
  .header-text{
    font-size: 32px;
  }
  .rank-number{
    font-size: 40px;
  }
  .clan-image{
    width: 105px;
    height: 105px;
  }
  .points-text{
    font-size: 40px;
  }
  .top{
    margin-top: 60px;
  }
  .border-bottom{
    padding-bottom: 20px;
  }
} */