<div class="background-fx">
    <app-user-header></app-user-header>
    <div style="position:relative; height:50px;" class="top">
      <div class="row section-header">
      </div>
      <div class="row " style="height:100%;">
        <div class="col-sm-4 vertical-child-center" >
          <a class="vertical-child-center" routerLink="/profile">
            <span class="section-text">Mi perfil</span>
          </a>
        </div>
        <div class="col-sm-4 vertical-child-center" style="background: #fe8d00;">
          <a *ngIf= "clan?.id != -1" class="vertical-child-center" routerLink="/clan/{{clan?.id}}">
            <span class="section-text">Mi clan</span>
          </a>
          <span *ngIf= "clan?.id == -1" class="section-text">Mi clan</span>
        </div>
        <div class="col-sm-4 vertical-child-center">
          <a class="vertical-child-center" routerLink="/user-gift/{{user?.id}}">
            <span class="section-text">Mis regalos</span>
          </a> 
			</div>
		  </div>
	  </div>
    <div class="content">
      <div class="row align-items-center" style="padding-top: 0%;">
        <div class="col-sm-4">
          <span class="title-text">CLAN</span>
        </div>
        <div *ngIf="clan_to_change() && is_admin_clan()" class="col-sm-2" style="margin-left: 35%;">
          <a routerLink = "/invite">
            <button class="button-invite" mat-raised-button>Invitar Luchadores</button>
          </a>
        </div>

        <div *ngIf="clan_to_change() && !is_admin_clan()" class="col-sm-2" style="margin-left: 35%;">
          <a routerLink = "/clan/home">
            <button class="button-change" mat-raised-button>Cambiar clan</button>
          </a>
        </div>
      </div>
      <div style="width: 100%; overflow: hidden; margin-top: -1%;">
        <div class="hidden-scroll">
            <div class="row " style="padding-top: 25px;">
              <div class="col-sm-2">
                <div class="clan-avatar">
                  <img src={{environment.asset_base_url}}{{selected_clan.image}} class="clan-image">
                </div>
              </div>
              <div class="col-sm-8" style="margin-top: 0%; margin-left: -4%;">
                <label class="key">Nombre &nbsp;</label>
                <label class="value">{{ selected_clan.name }} </label><br>

                <label class="key">Descripción &nbsp;</label>
                <label class="value">{{ selected_clan.description }}</label><br>
                <label class="key">Lema &nbsp;</label>
                <label class="value"> {{ selected_clan.motto }}</label>
              </div>
              <div class="col-sm-3" style="margin-left: -10%;">
                <span class="points-text">
                  <span class="key">Puntos:</span>
                  <span class="value">{{ selected_clan.points }}</span>
                </span>
              </div>
            </div>

            <hr color=white>
            
            <label class="content-text"><font color="white">Progreso</font></label>

            <div class="row align-items-center" style="padding-top: 20px;">
              <ng-template ngFor let-item [ngForOf]="selected_clan.territory_info" let-i="index">
                <div class="col-sm-3 algin-items-center" style="margin-left: 0%">
                  <img src={{item.territory_image_url}} style="width: 80%;">
                  <label class="territory-name-text">{{ item.territory_name }}</label>
                </div>
              </ng-template>

            </div>

            <hr color=white>

            <label class="content-text"><font color=antiquewhite>Miembros:</font></label>

            <div class="row align-items-center members-show" style="padding-top: 2px;">
                <div class="col-sm-6 row algin-items-center" style="margin-top: 1%;">
                  <div class="col-3">
                    <div class="user-avatar">
                      <img src={{environment.asset_base_url}}{{get_user_image(admin_user)}} class="user-image"> 
                    </div>
                  </div>
                  <div class="col-8 vertical-child">
                    <label class="user-name-text">{{ admin_user.first_name }} {{ admin_user.last_name }}<br> Admin</label>
                  </div>
                </div>
                <ng-template ngFor let-item [ngForOf]="joined_users" let-i="index">
                  <div class="col-sm-6 row algin-items-center" style="margin-top: 1%;">
                    <div class="col-3">
                      <div class="user-avatar">
                        <img src={{environment.asset_base_url}}{{get_user_image(item)}} class="user-image">
                      </div>
                    </div>
                    <div class="col-8 vertical-child">
                      <label class="user-name-text">{{ item.first_name }} {{ item.last_name }}</label> 
                    </div>
                  </div>
                    
                </ng-template>
              </div>

              <!--
                <div class="align-items-center members-sm-show" style="padding-top: 1px;">
                  <div class="style="float: left;">
                    <div class="user-avatar">
                      <img src={{environment.asset_base_url}}{{get_user_image(admin_user)}} class="user-image"> 
                    </div>
                    <label class="user-name-text" style="width: 200px;">{{ admin_user.first_name }} {{ admin_user.last_name }}<br> Admin</label> 
                  </div>
                  <ng-template ngFor let-item [ngForOf]="joined_users" let-i="index">
                    <div style="float: left;margin-left: 2%;text-align: center;">
                      <div class="user-avatar">
                        <img src={{environment.asset_base_url}}{{get_user_image(item)}} class="user-image"> 
                      </div>
                      <label class="user-name-text">{{ item.first_name }} {{ item.last_name }}</label> 
                    </div>
                  </ng-template>
              </div>
            -->

        </div>
      </div>
    
  </div>