<main id="content">
  <button class="close" name="close" type="submit" value="close" routerLink="/map">close</button>
  <h2>Comprar Regalo</h2>
  <div id="inner-content">
  	<img src="../assets/images/icons/present.png" class="gift-img">
  	<p style="subtitle" style="text-align: center;">
  		Confirma la compra del regalo
  	</p>
  	<h3 style="text-align: center;">
  		Cafetera Nespresso "{{gift['title']}}"
  	</h3>
  </div><!-- #container -->
  <div id="main-actions">   
    <button (click)="close()">CANCELAR</button>
    <button (click)="confirm()">CONFIRMAR</button>
  </div>
</main>
