<div class="container">
	<div class="row align-items-center top" style="position: relative;">
    <div style="position: absolute; right: 3px; top: -20px;color: #efba1f;z-index: 1" (click)="close()">
      <i class="pointer material-icons md-bold cross-size">close</i>
    </div>

		<div class="col" style="text-align: center;">
      <span class="head-text">¿Estás seguro de que te gusta comprar este regalo?</span>		
		</div>
	</div>
	<div class="row">
		
	</div>
	<div class="row justify-content-center" style="margin-top: 40px;">
		<div class="vertical-child-center" >
			<img class="gift-img" src="/assets/images/icons/gift.svg">
		</div>
		<div class="vertical-child-center" >
			<span class="head-text" style="margin-left:20px; font-weight:700;color: #000">{{gift_name}}</span>
		</div>
	</div>
  <div class="row justify-content-center">
    <div style="margin-top: 20px; text-align: center;">
      <button (click)="openDialog(gift)" class="button-store" mat-raised-button>Sí</button>
    </div>
    <div class="col-sm-1">

    </div>
    <div style="margin-top: 20px;">
      <button (click)="close()" class="button-store" mat-raised-button>No</button>
    </div>
  </div>
</div>