<div class="background-fx">
  <app-user-header></app-user-header>
  <div class="content" style="position: relative;">
    <div style="position: absolute; right: 2.5%;top: 0px;z-index: 2">
      <a routerLink="/map">
        <div>
          <i class="material-icons md-bold md-white cross-size" >close</i>
        </div>        
      </a>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-8">
        <span class="title-text">Acerca de Datio Primal</span>
      </div>
    </div>
    <div style="width: 96%; overflow: hidden; height: 90%; margin-top: 2%;">
      <div style="padding-left: 5%;" class="hidden-scroll">
        <!-- <ng-template ngFor let-item [ngForOf]="info" let-i="index">
          <div style="width: 95%;margin-top: 2%">
            <span class="item-title-text"> {{ item.item }}<br> </span>
            <span class="content-text" style="margin-top: 0%;"> {{ item.description }}</span>
          </div>
        </ng-template> -->
        <div style="width: 95%;">
          <span class="item-title-text"> Objetivo: <br></span>
          <span class="content-text" style="margin-top: 0%;"> El juego pretende que los dationers acumulen puntos a través de diversas acciones agrupadas en cuatro grandes categorías: <br></span>
          
          <ul style="padding-top: 1%;">
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
              <strong>Brainhunter:</strong> por apoyar a @People en la captación y selección de talento
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
              <strong>Writer:</strong> por escribir post en el blog de Datio
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
              <strong>Influencer:</strong> por divulgar los contenidos de Datio en las redes sociales
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
              <strong>Teambuilder:</strong> por aportar ideas de mejora y contribuir con el buen ambiente de la empresa
            </li>
          </ul>
          
          <span class="item-title-text"> <br>Puntos por acciones y destrezas: <br> </span>
          <span class="content-text"> <strong>Brainhunter</strong> </span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Recomendar candidatos       100
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Apoyo en entrevistas técnicas    100
            </li>
          </ul>

          <span class="content-text"> <strong>Teambuilder</strong></span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Eventos lúdicos 300
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Ideas de mejora y actividades alternativas  100
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Kudos 100
            </li>
          </ul>

          <span class="content-text"> <strong>Writer (Datio Blog, SlideShare)</strong></span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Post        1000
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                +100 Views    500
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                +200 Views    500
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                +500 Views    1000
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                +1000 Views    1000
            </li>
          </ul>

          <span class="content-text"> <strong>Influencer (RRSS)</strong></span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Shares        1
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Retweets        1
            </li>
          </ul>

          <span class="item-title-text"> <br> Misiones, multiplicadores y premios especiales:  <br> </span>
          <span class="content-text" style="margin-top: 0%;"> Se podrán obtener puntos extras tras la superación de un reto periódico individual o por equipos (+3 post, +5 interviews, +3 lúdicos, etc) que se visualiza en la conquista de un territorio.
          <br></span>

          <span class="item-title-text"> <br> Puntos y premios: <br> </span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                La escala de puntos propuesta abarca del 1 al 20000.
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Dependiendo de la complejidad de las acciones realizadas, podrán obtenerse entre 1 y 1000 puntos.
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                No existe correspondencia directa entre los puntos y la cuantía tangible de los premios o incentivos a los que se puede aspirar a canjear con las <strong>monedas.</strong>
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                A efectos del ranking se toman en cuenta los puntos totales. El saldo de monedas variará en función de lo que se acumule o gaste en el catálogo de premios.
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                La superación de una etapa conlleva la obtención de un distintivo o badge de la misma y, de acuerdo con la puntuación, también se podrá optar por un premio del tipo “recompensa emocional” o del catálogo de regalos.
            </li>
          </ul>

          <span class="item-title-text"> <br> Tramos: <br> </span>
          <span class="content-text" style="margin-top: 0%;"> En el transcurso de la competición y en función de los puntos obtenidos, los participantes irán evolucionando a lo largo de 8 etapas: <br></span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Australophitecus (1000 pts)
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Homo hábilis (2000 pts)
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Homo ergaster (4000 pts)
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Homo erectus (6000 pts)
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Homo antecessor (9000 pts) 
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Homo heidelbergensis (12000 pts)
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Neanderthal (16000 pts)
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                Sapiens (20000 pts)
            </li>
          </ul>

          <span class="item-title-text"> <br> Insignias, recompensas y regalos: <br> </span>
          <ul>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                <strong>Insignias:</strong> La superación de un tramo conllevará la obtención de un badge o pegatina.
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                <strong>Recompensas “emocionales”:</strong>
                <ul>
                  <li>Teletrabajo/Jornada compacta</li>
                  <li>Día libre</li>
                </ul>
            </li>
            <li class="content-text" style="margin-left: 2%; padding-left: 2%;">
                <strong>Regalos complementarios:</strong> Se podrá escoger entre una selección de obsequios en función de los puntos a canjear con las monedas obtenidas. Funkos, Fitband, Legos, Hexbug, Mini arcade, Drones, Cámara Compacta, Chromecast, Réflex, Puzzles, Auriculares, iWatch, Móviles, iPadPro.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>