<div class="background-fx">
  <app-user-header></app-user-header>
  <div class="content">
    <div class="row align-items-center">
      <div class="col-sm-8">
        <span class="title-text">INFORMACIÓN</span>
      </div>
    </div>
    <div style="width: 95%; overflow: hidden;">
      <div style="padding-left: 5%;" class="hidden-scroll">
        <ng-template ngFor let-item [ngForOf]="info" let-i="index">
          <div class="row align-items-center" style="width: 95%;margin-top: 2%">
            <div>
              <label class="item-title-text"> {{ item.item }}</label>
            </div>
            <div>
              <label class="content-text" style="margin-top: 0%;"> {{ item.description }}</label>
            </div>            
            
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>