<div class="background-fx">
  <app-user-header></app-user-header>
  <div class="dark-effect">
  </div>
  <div class="content" style="position: relative;">
    <div style="position: absolute; right: 2.5%;top: 3%;z-index: 2">
      <a routerLink="/map">
        <div>
          <i class="material-icons md-bold md-white cross-size" >close</i>
        </div>        
      </a>
    </div>
    <div class="row" style="padding-top: 3.6%;padding-left: 2.22%;position: relative;">
      <div class="col">
        <span class="title-text">REGALOS</span>
      </div>
    </div>

    <div class="scroll-height" style="width: 95%; overflow: hidden;">
        <div style="padding-left: 5%;" class="hidden-scroll">
          <ng-template ngFor let-item [ngForOf]="gifts" let-i="index">
            <div class="row align-items-center" style="width: 95%;margin-top: 3%">
              <div class="col-sm-2">
               <img src="{{environment.asset_base_url}}{{ getItemUrl(item.image) }}" class="gift_img">
               <!-- <label>{{ getItemUrl(item.image) }}</label> -->
              </div>
              <div class="col-sm-6">
                <label class="content-text"> {{ item.title }} </label>
                <br>
                <label class="content-text"> {{ item.description }} </label>
                <br>
                <label class="item-title-text"> {{ item.points }} &nbsp;</label>
                <label class="item-title-value"> monedas </label>
              </div>     
              <!-- <div *ngIf=" (item.state == 'can buy') " class="col-sm-2">
                <button (click)="openDialog(item)" class="button-join" mat-raised-button>COMPRAR</button>
              </div> -->

              <div *ngIf=" (item.state == 'can buy') " class="col-sm-2">
                <button (click)="openCheckDialog(item)" class="button-join" mat-raised-button>COMPRAR</button>
              </div>

              <div *ngIf=" item.state == 'can\'t buy' " class="col-sm-2">
                  <button type="submit" class="lock-button-join" mat-raised-button>COMPRAR</button>
                  <img src="../assets/images/icons/lock small.png" id="input_img">
              </div>
              <div *ngIf="item.state == 'already bought' " class="col-sm-2"> 
                  <div class="lock-button-join">COMPRADO</div>
                  <span id="input_img" class="vertical-child-center">
                    <i class="material-icons check_icon">
                      check
                    </i>                    
                  </span>
              </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>