<!--
<div class="background-fx">
	<app-user-header></app-user-header>
	<div class="content" style="position: relative;">
		<div style="position: absolute; right: 2.5%;top: 3%;z-index: 2">
			<a routerLink="/map">
				<div>
					<i class="material-icons md-bold md-white cross-size" >close</i>
				</div>				
			</a>
		</div>

		<div class="col-sm-6 h-100" style="padding-top: 5.6%;padding-left: 5.22%;position: relative;">
			
			<div >
				<span class="title-text">{{territory.title}}</span>
			</div>
			<div style="padding-top: 20px">
				<span class="content-text">
					<a *ngIf="clan_to_change()">
						<span class="key"> INICIO DE MISIÓN EN: </span>
						<span class="value">{{starting_days}} DÍAS</span>
						<br><br>
					</a>
					<a *ngIf="!clan_to_change()">
						<span class="key"> LA MISIÓN TERMINA EN: </span>
						<span class="value">{{remain_days}} DÍAS</span>
						<br><br>
					</a>
					<span class="key"> Puntos mínimos: </span>
					<span class="value">{{territory.reaching_min_points}}</span>
				</span>
			</div>		
		</div>
		<div class="col-sm-6 h-100" style="padding-top: 5.6%;">
			<div style="width: 70%;max-height:50%;margin-left: 10%;">
				<app-territory [territory]="territory"></app-territory>
			</div>			
		</div>
		<div class="w-100" style="position: absolute;bottom: 13.2%;">
			<div class="col-sm-6 h-100" style="padding-left: 5.22%;position: relative;">
				<a *ngIf="!clan_to_change() || is_joined()">
					<button mat-raised-button class= "lock-button" style="padding-left: 2px" color="primary">
						<img src="/assets/images/icons/lock small.png">
						<span style="padding-left: 0px;">UNIRSE A CLAN</span>
					</button> 
				</a>
				<a routerLink="/clan/home" *ngIf="clan_to_change() && !is_joined()">
					<button mat-raised-button class= "unlock-button" color="primary">
						<img src="/assets/images/icons/lock small.png" >
						<span>UNIRSE A CLAN</span>
					</button>
				</a>
			</div>
			<div class="col-sm-6 w-100" style="position: relative;text-align: center;">
				<a *ngIf="clan_to_change()">
					<button mat-raised-button class= "lock-button" color="primary">
						<img src="/assets/images/icons/lock small.png" >
						<span>CONQUISTAR</span>
					</button>
				</a>
				<a routerLink="/clan/ranking" *ngIf="!clan_to_change()">
					<button mat-raised-button class= "unlock-button" color="primary">
						<img src="/assets/images/icons/lock small.png" >
						<span>CONQUISTAR</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
-->
<main id="content">
	<button class="close" name="close" type="submit" value="close">close</button>
	<h2>Lucha mortal por la {{territory.title}}</h2>
	<hr style="background-color: white; width: 80%;">
	<div id="inner-content">
		<div style="width:50%; margin: auto;text-align: center;">
			<app-territory [territory]="territory"></app-territory>			
		</div>
		<div style="width:40%; margin: auto;">
			<div class="col-sm-7" >
				<label style="font-style: normal; font-weight: normal; color: white;"><font size="2vm">Incio Misión:</font></label>
			</div>
			<div class="col-sm-5">
				<label style="font-style: normal; font-weight: normal; color: white;"><font size="3vm">{{remain_days}} dias</font></label>
			</div>	
		</div>
		<div style="width:40%; margin: auto;">
			<div class="col-sm-7">
				<label style="font-style: normal; font-family: 'Fira Sans', sans-serif;font-weight: normal; color: white;"><font size="2vm">Puntos mínimos:</font></label>
			</div>
			<div class="col-sm-5">
				<label style="font-style: normal; font-weight: normal;font-family: 'Fira Sans', sans-serif;color:white;"><font size="3vm">{{territory.reaching_min_points}}</font></label>
			</div>
		</div>
		
		<div style="width:85%; margin: auto; text-align:center;">
			<label style="margin-top: 5%;font-style: normal; font-weight: normal;font-family: 'Fira Sans', sans-serif;color:white;line-height: 1.6;"><font size="3vm">En esta primera misión deberán aprender a colaborar. El equipo que gane este territorio tendrá una gran ventaja sobre los demás. <br/>Una ventaja mortal ...</font></label>
		</div>
		
	</div>
	<div id="main-actions"> 
		<button *ngIf="!clan_to_change() || is_joined()" disabled>UNISRE A CLAN</button>
		<button *ngIf="clan_to_change() && !is_joined()" routerLink="/clan/home">UNISRE A CLAN</button>
		<button *ngIf="clan_to_change()" disabled>CONQUISTAR</button>
		<button routerLink="/clan/ranking" *ngIf="!clan_to_change()">CONQUISTAR</button>
	</div>
</main>