.content {
	margin: 5.39%;
	margin-left: 11.2%;
	margin-right: 11.2%;
	/*height: 500px;*/
    height: 60.6%;
	width: 76.6%;
	background-color: rgba(0,0,0,0.30);
	float: left
}
.title-text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 28px;
    text-align: left;
}
.size{
    font-size: 40px;
}
@media only screen and (min-width:1024px){
    .title-text {
        font-size: 28px;
    }

}
@media only screen and (min-width:1280px){
    .title-text {
        font-size: 64px;
    }

}
.content-text {
	line-height: 39px;
    font-family: Raleway;
}
.content-text .key{
   
    font-size: 24px;
    font-weight: 600;
    color: white;    
}
.content-text .value{
    font-size: 30px;
    font-weight: 800;
    color: #fe8d00;    
}
.lock-button{
    background-color: #464344;
    border: 0px solid #D1D1D1;
    border-radius: 5px;
    color: #fff;    
}
.unlock-button{
    background-color: #fe8d00;
    border: 0px solid #D1D1D1;
    border-radius: 5px;
}

.unlock-button,.lock-button{
    width:53.53%;
    height: 50px;
}
@media only screen and (min-width:1024px){
    .unlock-button,.lock-button{
        height: 50px;
    }

}
@media only screen and (min-width:1280px){
    .unlock-button,.lock-button{
        height: 100px;
    }

}
.unlock-button span{
    color: #fff;
    /*font-family: Raleway;*/
    font-weight: 700;
    font-size: 18px !important;
    text-align: left;
}
.lock-button img{
    width: 14.8%;
    /*position: absolute;*/
    left:15px;
    top: 10px;
    display: relative;
}
.unlock-button img{
    display: none;
}
.lock-button span{
    color: rgb(255, 255, 255);
    /*font-family: Raleway;*/
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px !important;
    text-align: left;
}