.content {
	margin: 50px;
	margin-left: 5%;
	margin-right: 5%;
	height: 500px;
	width: 90%;
	background-color: rgba(0,0,0,0.30);
	float: left
}
.title-text {
    line-height: 78px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 64px;
    text-align: left;
}

.content-text {
	line-height: 44px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 36px;
    text-align: left;
}
.lock-button{
    background-color: #464344;
    border: 0px solid #D1D1D1;
    border-radius: 5px;
    color: #fff;    
}
.unlock-button{
    background-color: #0B3E78;
    border: 0px solid #D1D1D1;
    border-radius: 5px;
}

.unlock-button,.lock-button{
    height: 70px;
}
.unlock-button span{
    line-height: 29px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
    /*font-family: Raleway;*/
    font-weight: 700;
    font-size: 24px !important;
    text-align: left;
}
.lock-button img{
    width: 40px;
    height: 50px;    
    /*position: absolute;*/
    left:15px;
    top: 10px;
    display: relative;
}
.unlock-button img{
    display: none;
}
.lock-button span{
    line-height: 29px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    /*font-family: Raleway;*/
    padding-left: 10px;
    font-weight: 700;
    font-size: 24px !important;
    text-align: left;
}