<!-- <app-invite></app-invite> -->
<!--
<div *ngIf="clan_added" class="background-fx">
	<app-user-header></app-user-header>
	<div class="content-created container" style="position: relative;">
		<div style="position: absolute; right: 2.5%;top: 3%;">
			<a routerLink="/map">
				<div>
					<i class="material-icons md-bold md-white cross-size" >close</i>
				</div>				
			</a>
		</div>
		<div class="row" style="padding-top: 5.6%;padding-left: 5.22%;">
			<span class="title-text" style="padding-bottom: 40px;">CLANES ISLAND</span>
		</div>
		<div style="padding-left: 50px;padding-right: 50px;">
			<div class="row justify-content-center">
				<span class="congratulation-text">¡Felicidades! <br><br> Acabas de crear un clan </span>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-6">
					
					<img src="{{environment.asset_base_url}}{{clan.image}}" style="width: 28%;">
					<span class="congratulation-text">{{clan.name}}</span>
					
				</div>				
			</div>
			<div class="row justify-content-center">
				<a routerLink="/clan/{{clan.id}}">
					<button mat-raised-button color="primary" style="height:50px;width: 160px; border-radius: 25px; background-color: #FE8D00;">
						<span class="content-text">Ver clan</span>
					</button>
				</a>
				<div class="col-sm-2">
					
				</div>
				<a routerLink="/invite">
					<button mat-raised-button color="primary" style="height:50px;width: 160px; border-radius: 25px; background-color: #FE8D00;">
						<span class="content-text">Invitar</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div *ngIf= "!clan_added" class="background-fx">
	<app-user-header></app-user-header>
	<div class="content" style="position: relative;">
		<div style="position: absolute; right: 2.5%;top: 3%;z-index: 2">
			<a routerLink="/map">
				<div>
					<i class="material-icons md-bold md-white cross-size" >close</i>
				</div>				
			</a>
		</div>
		<div class="row" style="padding-top: 5.6%;padding-left: 2.22%;position: relative;">
			<span class="title-text" >CREAR CLAN</span>
		</div>
		<div style="position: relative;margin-top: 4%;">
			<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
				
				<div class="row">
					<div class="col-sm-8">
						<div class="row align-items-center">
							<label for="name" class="col-sm-4 col-form-label">NOMBRE</label>
							<div class="col-sm-8" [class.is-invalid]="!myForm.controls['name'].valid && myForm.controls['name']. touched">
						    	<input type="text" class="form-control" [formControl]="myForm.controls['name']" name="name">
								<div class="invalid-feedback">
									required
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<label for="description" class="col-sm-4 col-form-label">DESCRIPCIÓN</label>
							<div class="col-sm-8" [class.is-invalid]="!myForm.controls['description'].valid && myForm.controls['description']. touched">
						    	<input type="text" class="form-control " [formControl]="myForm.controls['description']" >
								<div class="invalid-feedback">
									required
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<label for="lema" class="col-sm-4 col-form-label">LEMA</label>
							<div class="col-sm-8" [class.is-invalid]="!myForm.controls['motto'].valid && myForm.controls['motto']. touched">
						    	<input type="text" class="form-control" [formControl]="myForm.controls['motto']">
								<div class="invalid-feedback">
									required
								</div>
							</div>
						</div>						
					</div>
					<div class="col-sm-4">
						<mat-checkbox [formControl]="myForm.controls['open']" style="width: 100px;" color="white" ><span class="col-form-label">ABIERTO</span></mat-checkbox>		
					</div>
				</div>
				<div class="row" style="padding-left: 15px">
					<label for="select-color" class="col-sm-3 col-form-label">ELEGIR COLOR</label>
					<div class="col-sm-8 align-items-center row" >
						<div class="custom-radios">
 							<ng-template ngFor let-item [ngForOf]="colors" let-i="index">
								<div class="form-div">
									<input type="radio" id='{{"color" + i}}' formControlName="color" value="{{item}}" class="form-control" [checked] = "i==0">
									<label for='{{"color"+i}}' >
								      	<span [ngStyle]="{'background-color':item}">
								        	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
								        </span>	
									</label>
								</div>	
							</ng-template>
						</div>
					</div>
				</div>
				<div style="margin-left: 15px">
					<div class="row align-items-center" >
						<label for="select-avatar" class="row col-sm-3 col-form-label">ELEGIR ESCUDO</label>
						<div class="col-sm-8">
							<div class="row" style="background-color:#e0e0ef54;border-radius: 5px;">
								<div class="custom-radios row no-gutters">
									<ng-template ngFor let-item [ngForOf]="clan_images" let-i="index">
										<div class="col vertical-child-center" style="padding-left:2px;">
											<input type="radio" [checked] = "i==0" id='{{"avatar" + i}}' formControlName="avatar" value="{{item}}">
											<label for='{{"avatar"+i}}'>
												<img class="clan-img selected" [class.selected]= "item === myForm.value.avatar" src={{environment.asset_base_url}}{{item}}>
											</label>
										</div>	
									</ng-template>				
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center w-100">
					<div class="col-sm-12" style="border-bottom-color: #fff;border-bottom-style: solid; margin-top: 5px;" >
					</div>
					
				</div>
				<div class="row" style="padding-top: 15px;margin-right: 5%;">
					<div class="col">
						<button type="submit" mat-raised-button style="float: right;background: none;color: #fff;" class="store-button" color="primary">
							<span class="">GUARDAR</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
-->

<main id="content">
	<button class="close" name="close" type="submit" value="close">close</button>
	<h2>Crear Clan</h2>
	<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
	<div id="inner-content">
		
			<div class="row" style="width: 100%;">
				<div class="col-sm-9">
					
					<div [class.is-invalid]="!myForm.controls['name'].valid && myForm.controls['name']. touched">
						<label><font size="3px">Nombre</font></label>
						<label *ngIf="!myForm.controls['name'].valid && myForm.controls['name']. touched">(required)</label>
						<input type="text" class="form-control" style="border-radius:0px;" [formControl]="myForm.controls['name']" name="name" placeholder="Nombre de clan">
					</div>

					
					<div [class.is-invalid]="!myForm.controls['description'].valid && myForm.controls['description']. touched">
						<label><font size="3px">Descripción</font></label>
						<label *ngIf="!myForm.controls['description'].valid && myForm.controls['description']. touched">(required)</label>
						<input type="text" class="form-control" style="border-radius:0px;" [formControl]="myForm.controls['description']" placeholder="Breve descripción del clan">
					</div>

					
					<div [class.is-invalid]="!myForm.controls['motto'].valid && myForm.controls['motto']. touched">
						<label><font size="3px">Lema</font></label>
						<label *ngIf="!myForm.controls['motto'].valid && myForm.controls['motto']. touched">(required)</label>
						<input type="text" class="form-control" style="border-radius:0px;" [formControl]="myForm.controls['motto']" placeholder="Frase contundente que expresa la ideologia del clan">
					</div>
					<label><font size="3px">Color</font></label>
					<!--
					<label id="color-item" (input)="color">{{color}}</label>
					<label (input)="avatar">{{avatar}}</label>
					-->

					<div class="row">
						<ng-template ngFor let-item [ngForOf]="colors" let-i="index">
							<div class="col-sm-2" style="padding-right:75px;">
								<label class="color-container">
									<input type="radio" id='{{"color" + i}}' formControlName="color" value="{{item}}" [checked] = "i==0" (ngModelChange)="color=$event">
									<span class="checkmark" [ngStyle]="{'background-color':getBcolor(item)}"></span>
								</label>
							</div>
						</ng-template>	
					</div>
					
					<div class="row">
						<label class="open-container">Clan abierto
							<input type="checkbox">
							<span class="open-checkmark"></span>
						</label>
					</div>
					
				</div>
				<div class="col-sm-3">
					<label><font size="3px">Pictograma</font></label>
					<div class="row">
						<ng-template ngFor let-item [ngForOf]="clan_images" let-i="index">
							<div class="col-sm -6">
								<label class="image-container">
									<input  type="radio" [checked]="i==0" id='{{"avatar" + i}}' formControlName="avatar" value="{{item}}" (ngModelChange)="avatar=$event">
									
									<img *ngIf="avatar==item" class="image-checkmark" src={{getBurl(color)}}>
									
									<img class="image-avatar" src={{environment.asset_base_url}}{{item}}>
								</label>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		

	</div><!-- #container -->
	<div id="main-actions">
		
		<div class="row">
			<div class="col">

			</div>
			<div class="col-sm-4">
				<button type="submit" routerLink="/clan/create" style="position: relative; margin-left: -70%; margin-top: -10%;">GURADAR</button>
			</div>
		</div>
	</div>
	</form>
</main>