
<main id="content">
	<button routerLink="/map" class="close" name="close" type="submit" value="close">close</button>
	<h2>Invitar a Las Calaveras Hambrientas</h2>
	<checkbox-group [(ngModel)]="selectedUsers">
	<div id="inner-content">
		<!-- <div id="inner-content"> -->
		
			<ng-template ngFor let-item [ngForOf]="users" let-i="index">
				<div class="item" >
					<div class="check-box">
						<checkbox value="{{item['id']}}"> </checkbox>	
					</div>
					<img class="item-img" src="{{environment.asset_base_url}}{{get_image_url(item)}}">
					<h3>C{{item['first_name']}} {{item['last_name']}}</h3>
					<p>2503</p>
					<button >INVITAR</button>
				</div>
			</ng-template>
			<div class="item">
				<div class="check-box">
					<checkbox value="100"> </checkbox>	
				</div>
				<img class="item-img" src="/assets/images/avatars/avatar1.png">
				<h3>Cristina Rodriguez</h3>
				<p>2503</p>
				<button >INVITAR</button>
			</div>

		
	</div>
</checkbox-group>
	<div style="margin-left: 100px;">
		<p>Total invitados: {{selectedUsers.length}}/5</p>

	</div>

	<div id="main-actions">
		<div style="margin-top: 10px;">
			<label class="open-container" (change)="selectAll($event)">Seleccionar todos
				<input type="checkbox" >
				<span class="open-checkmark"></span>
			</label>
		</div>
		<button style="display: none"></button>	
		<button (click) = "store()">GUARDAR</button>
	</div>
	
</main>