
<main id="content">
	<button routerLink="/map" class="close" name="close" type="submit" value="close">close</button>
	<h2>Invitar a Las Calaveras Hambrientas</h2>
	<div id="inner-content">
		<!-- <div id="inner-content"> -->
			<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
				<div class="item">
					<div class="clan-color" [style.background-color]="item.clan_color"></div>
					<img class="item-img" src={{environment.asset_base_url}}{{item.image}}>
					<h3>{{item.name}}</h3>
					<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
					<button disabled>UNIRSE A CLAN</button>
				</div>	
			</ng-template>
	</div>
	<div id="main-actions" style="padding-right: 50px;">
	
		<div class="row">
			<div class="col-2">
				<img src="assets/images/icons/new Clan.png" style="width:50px;">
			</div>
			<div class="col-6">
				<label style="margin-top: 15px;font-style:normal;color:white;"><font size="3px">Crea tu propio Clan</font></label>
			</div>
			<div class="col-4">
				<button routerLink="/clan/create" style="left: -20px; top: 0px;">CREAR CLAN</button>
			</div>
		</div>
	</div>
	
</main>