<div class="background-green">
	<div class="content container" style="position: relative;">
		<a routerLink="/map">
			<div style="position: absolute; right: -30px;top: -30px;">
				<i class="material-icons md-bold md-80 md-white" >close</i>
			</div>
		</a>
		<div class="row align-items-center">
	        <div class="col-sm-4">
	          <span class="title-text">MI PERFIL</span>
	        </div>
		</div>
		<div class="row align-items-center user-section" >
         	 <div class="col-sm-8" style="display: flex;">
                <div class="user-avatar vertical-child-center">
                	<img src="{{environment.asset_base_url}}{{user?.avatar}}" class="user-image">
                </div>
				<div style="margin-top:30px;margin-left: 10px;">
					<div>
						<span class="content-text">{{user?.first_name}} {{user?.last_name}}</span>						
					</div>
					<div style="margin-top: 10px;">
						<a routerLink="/profile/edit">
							<button class="button-edit" mat-raised-button><font size="5px">EDITAR</font></button>
						</a>
					</div>
				</div>
            </div>
			<div class="col-sm-4">
				<div>
					<span class="points-text">PUNTOS: {{user?.points}} </span>	
				</div>
				<div>
					<span class="points-text">MONEDAS: {{user?.coins}} </span>	
				</div>
				<div>
					<span class="points-text">NIVEL: {{user?.level}} </span>	
				</div>
			</div>			
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-6" >
				<div class="row">
						<label class="content-text"><font color=antiquewhite>Progreso Personal</font></label>
				</div>
				<div class="row" style="margin-top:20px; border-right-style: solid;border-right-color: #fff;min-height: 300px;">
					<ng-template ngFor let-item [ngForOf]="user.badge_list" let-i="index">
						<div class="col-sm-4" style="text-align: center;">
							<img src="{{item.icon}}" class="map-badge">
							<div>
								<span class="map-badge-text">{{item.title}}</span>	
							</div>						
						</div>
					</ng-template>
				</div>				
			</div>
			<div class="col-sm-6">
				<ng-container *ngIf= "clan">
					<div class="row">
						<label class="content-text"><font color=antiquewhite>Clan</font></label>
					</div>
					<div class="row align-items-center" style="margin-top:20px;" >
						<div class="col-sm-6" style="text-align: center;">
							<img src="{{environment.asset_base_url}}{{clan?.image}}" class="clan-avatar">				
						</div>
						<div class="col-sm-6" >
							<div>
								<span class="clan-text">{{clan?.name}}</span>	
							</div>
							<div>
								<span class="clan-text">PUNTOS {{clan?.points}}</span>	
							</div>						
						</div>	
					</div>
					<div class="row" style="margin-left: 10px;">
							<a routerLink="/clan/{{clan?.id}}">
								<button class="button-edit" mat-raised-button><font size="5px">VER</font></button>
							</a>						
					</div>
				</ng-container>
			</div>

		</div>
	</div>
</div>