<div class="background-fx">
	<app-user-header></app-user-header>
	<div class="content container" style="position: relative;">
		<div class="row align-items-center">
			<div class="col">
				<span class="title-text">MI PERFIL</span>	
			</div>
	        <div style="float: right;">
	        	<a routerLink="/map">
	        		<i class="material-icons md-bold cross-size md-white" >close</i>
	        	</a>
	        </div>
		</div>
		<div class="row align-items-center user-section" >
         	 <div class="col-sm-8" style="display: flex;">
                <div class="user-avatar vertical-child-center">
                	<img src="{{environment.asset_base_url}}{{user_image_url}}" class="user-image">
                </div>
				<div class="vertical-child-center" style="margin-left: 3%;">
					<div>
						<span class="first-name-text">{{user?.first_name}} </span>
						<span class="second-name-text">
							{{user?.last_name}}
						</span>
					</div>
					<div style="margin-top: 10px;">
						<a routerLink="/profile/edit">
							<button class="button-edit" mat-raised-button><strong>EDITAR</strong></button>
						</a>
					</div>
				</div>
            </div>
			<div class="col-sm-4">
				<div>
					<span class="points-text">
						<span class="key">PUNTOS: </span>
						<span class="value">{{user?.total_points}} </span>
					</span>	
				</div>
				<div>
					<span class="points-text">
						<span class="key">
							MONEDAS: 	
						</span>
						<span class="value">
							{{user?.coins}} 	
						</span>
					</span>
				</div>
				<div>
					<span class="points-text">
						<span class="key">
							NIVEL: 	
						</span>
						<span class="value">
							{{user?.level}} 	
						</span>
						
					</span>	
				</div>
			</div>			
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-6" >
				<div class="row">
						<label class="content-text"><font color=white>Progreso Personal</font></label>
				</div>
				<div class="row" style="margin-top:20px; border-right-style: solid;border-right-color: #fff;min-height: 80%;">

<!-- 					<div class="col-sm-6" style="text-align: center;">
						<img src="/assets/images/icons/badge9.png" class="map-badge">
						<div>
							<span class="map-badge-text">Insignia LAND</span>	
						</div>						
					</div> -->
					<ng-template ngFor let-item [ngForOf]="user.badge_list" let-i="index">
						<div class="col-sm-4" style="text-align: center;">
							<img src="{{item.icon}}" class="map-badge">
							<div>
								<span class="map-badge-text">{{item.title}}</span>	
							</div>						
						</div>
					</ng-template>
				</div>				
			</div>
			<div class="col-sm-6">
				<ng-container *ngIf= "clan?.id != -1">
					<div class="row">
						<label class="content-text"><font color=white>Clan</font></label>
					</div>
					<div class="row align-items-center" style="margin-top:20px;" >
						<div class="col-sm-6" style="text-align: left;">
							<img src="{{environment.asset_base_url}}{{clan?.image}}" class="clan-avatar">
							<div>
								<span class="clan-text">{{clan?.name}}</span>	
							</div>
							<div>
								<span class="clan-text">
									<span class="key">PUNTOS </span>
									<span class="value">{{clan?.points}}</span>
								</span>	
							</div>						
						</div>	
					</div>
					<div class="row" style="margin-left: 10px;">
							<a routerLink="/clan/{{clan?.id}}">
								<button class="button-edit" mat-raised-button style="text-align: center;"><font color="#FE8D00"><strong>VER</strong></font></button>
							</a>						
					</div>
				</ng-container>
			</div>

		</div>
	</div>
</div>