.user-image{
    position: absolute;
    width: 70px;
    top: 10px;
}
.user-avatar{
    width:80px;
    height: 80px;
    align-items: center;
}
.avatar-circle{
    border-radius: 50%;
    background-color: #5E55C9
}
.item-button{
    font-size: 18px;
    line-height: 38px;
    height: 38px;
}
#badge-content{
    height: 196px;
    width: 158px;
}
.scroller:before{
    top:25px;
}
.scroller:after{
    bottom:-15px;
}
.clan-img{
    width: 70px;
    height: 70px;
    
}

.clan_color {
    width:70px; 
    height: 70px;
}