<main id="content">
	<button class="close" name="close" type="submit" value="close" routerLink="/map">close</button>
	<h2>Mi Perfil</h2>
	<div id="inner-content">
		<div class="row" style="margin:auto;">
			<div class="col-sm-3 mr-3">
                <div class="user-avatar vertical-child-center avatar-circle" >
                	<img src="{{environment.asset_base_url}}{{user_image_url}}" class="user-image">
                </div>
				
			</div>
			<div class="col-sm-4">
				<p class="label">Nombre</p>
				<h3>{{user?.first_name}}  {{user?.last_name}}</h3>
			</div>
			<div class="col-sm-4">
				<a routerLink="/profile/edit">
					<button class="item-button" style="position: absolute;right: 10px;bottom: 0px;top: 10px;">EDITAR</button>
				</a>
			</div>
		</div>
		<div class="row mt-3" style="margin:auto;">
			<div class="col-sm-3 mr-3">
				<span class="label mr-2">Puntos</span>
				<span class="score"> {{user?.total_points}}</span>
			</div>
			<div class="col-sm-3 " style="margin:auto;">
				<span class="label mr-2">Monedas</span>
				<span class="score"> {{user?.coins}} </span>
			</div>
			<div class="col-sm-4">
				<span class="label mr-2">Nivel</span>
				<span class="score mr-2"> {{user?.level}}</span>
				<span class="label ">{{user?.level_name}}</span>
			</div>
		</div>
		<div class="row mt-5" style="margin:auto;">
			<div class="col-sm-3 mr-3" id="badge-list" style="height: 222px;">
				<div>
					<p class="label">Progreso Personal</p>	
				</div>
				
				<div id="badge-content" style="position: absolute;" class="mt-2">
					<ng-template ngFor let-item [ngForOf]="user.badge_list" let-i="index">
						<div class="badge-item mt-2">
							<img src="{{item.icon}}" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
							<span class="label">{{item.title}}</span>
						</div>
					</ng-template>
					<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
					<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
										<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
					<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
										<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
					<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
										<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
					<div class="badge-item mt-2">
						<img src="/assets/images/icons/badge9.png" style="width: 32px;height: 32px;display: inline-block;margin-right: 5px;">
						<span class="label">Isla del Volcan</span>
					</div>
				</div>
			</div>
			<div class="col ml-2">
				<p class="label mr-2">Clan</p>

				<ng-container *ngIf= "clan?.id != -1; else no_clan ">
					<div>
						<img src="{{environment.asset_base_url}}{{clan?.image}}" class="clan-img" style="display: inline-block;">
						<h4 style="display: inline-block;" class="ml-1">Las Calaveras Hambrientas</h4>
					</div>
					<div class="mt-4" style="width: 170px;height: 40px;">
						<span class="label" style="float: left;">Puntos</span>
						<span class="score" style="float: right;">{{clan?.points}} </span>
					</div>
					<div style="width: 170px;height: 40px;">
						<span class="label" style="float: left;">Puntos Aportados</span>
						<span style="font-size: 18px;float: right;"> {{clan?.points}} </span>
					</div>
					<div>
						<button class="item-button" style="display: inline-block;">CAMBIAR CLAN</button>
						<button class="item-button" routerLink="/clan/{{clan?.id}}" style="display: inline-block;">VER CLAN</button>
					</div>
				</ng-container>

				<ng-template  #no_clan>
					<div class="mt-4">
						<span style="font-weight: bold;display: inline-block;">No esta en ningún Clan</span>
						<button class="item-button" style="display: inline-block;margin-left: 80px;">UNIRSE A CLAN</button>
						
					</div>
					<p class="mt-4">
						<span class="label">Puntos Por Aportar</span>
						<span style="font-size: 18px;">105</span>
					</p>
				</ng-template>


			</div>
		</div>
	</div><!-- #container -->
	<div id="main-actions">		
		<button style="position: absolute; top: 10px; left:60%;font-size: 22px; ">DESCONECTAR</button>
	</div>
</main>
