/* .content {
	margin: 5.39%;
	margin-left: 11.2%;
	margin-right: 11.2%;
	
    height: 60.6%;
	width: 76.6%;
	background-color: rgba(0,0,0,0.60);
	float: left
}

.title-text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 28px;
    text-align: left;
}


@media only screen and (min-width:1280px){
    .title-text {
        font-size: 36px;
    }
}
@media only screen and (min-width:1400px){
    .title-text {
        font-size: 40px;
    }
}

.congratulation-text{
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-weight: 600;
  line-height: 30px;
  font-size: 28px;
  text-align: center;
}
@media only screen and (min-width:1280px){
	.congratulation-text{
	  font-weight: 600;
	  font-size: 36px;
	  text-align: center;
	}
}
@media only screen and (min-width:1400px){
  .congratulation-text{
    font-size: 40px;
  }
}
button{
	background-color: #fe8d00 !important;
	border-radius: 40px;
	height: 50px;
	width: 200px;
} */


.clan-color{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 70px;
}

.clan-img {
    position: absolute;
    width: 150px;
    left: 270px;
    top:150px;
}

.verClan {
    margin: auto;
}