<!--
<div class="background-fx">
	<app-user-header></app-user-header>
	<div class="content container" style="position: relative;">
		<div style="position: absolute; right: 2.5%;top: 3%;">
			<a routerLink="/map">
				<div>
					<i class="material-icons md-bold md-white cross-size" >close</i>
				</div>				
			</a>
		</div>
		<div class="row" style="padding-top: 5.6%;padding-left: 5.22%;">
			<span class="title-text" style="padding-bottom: 40px;">CLANES ISLAND</span>
		</div>
		<div style="padding-left: 50px;padding-right: 50px;">
			<div class="row justify-content-center">
				<span class="congratulation-text">¡Felicidades! <br><br> Te has unido al clan de </span>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-6" style="text-align: center;">
					
					<img src="{{environment.asset_base_url}}{{clan.image}}" style="width: 28%;">
					<span class="congratulation-text" style="margin-left: 3%">{{clan.name}}</span>
					
				</div>				
			</div>
			<div class="row justify-content-center">
				<a routerLink="/clan/{{clan.id}}">
					<button mat-raised-button color="primary">
						<span class="content-text">Ver clan</span>
					</button>
				</a>
				<div class="col-sm-2">
					
				</div>
				<a routerLink="/conquer/{{globalState.Current_Territory_Id}}">
					<button mat-raised-button color="primary" >
						<span class="content-text">Conquistar</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

-->

<main id="content">
  <button class="close" name="close" value="close" routerLink="/map">close</button>
  <h2>¡Felicidades!</h2>
  <div style="margin-top: 30px;">
	  <img class="clan-color" src={{current_clan_color}}>
	  <img src="{{environment.asset_base_url}}{{clan.image}}" class="clan-img">
  </div>
  
  
  <div id="inner-content" style="height: 200px;">
	
  	<p style="subtitle" style="text-align: center;">
  		Te has unido al clan de
  	</p>
  	<h3 style="text-align: center;">
  		{{clan.name}}
  	</h3>
  </div><!-- #container -->
  <div id="main-actions">   
    <!-- <button (click)="view_detail()">VER REGALO</button> -->
    <button style="display: none;"></button>
    <button routerLink={{getClanLink(clan.id)}}>VER CLAN</button>
  </div>
</main>
