/* .content {
    margin-top: 2%;
    margin-left: 9.2%;
    margin-right: 9.2%;
    
    height: 78.55%;
    width: 82.5%;
    background-color: rgba(0,0,0,0.60);
}
.ul.li-item{
    min-height: 130px;
}
.ul{
    
    height: 100%;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing: content-box;
}
.main-button {
    height: 50px;
}
.main-button span{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px ;
    text-align: left;
    border-radius: 5px;
}
.join-clan-button{
    background-color: #fe8d00;
    border: 0px solid #D1D1D1;
    border-radius: 3px;
}

.lock-join-clan-button{
    font-size: 20px;
    background-color: #555555;
    padding-left:7px;
}
.lock-join-clan-button span{
    font-size: 14px;
}

.clan-img{
    height: 70px;
    width: 70px;
}

.lock-join-clan-button img{
    width: 20px;
}
.create_btn{
    width: 152.73px;
}
@media only screen and (min-width:1280px){

    .clan-img{
        height: 100px;
        width: 100px;
    }
    .main-button {
        height: 50px;
    }
    .main-button span{
        font-size: 20px;
        font-weight: 700;
    }
    .lock-join-clan-button{
        background-color: #555555;
        padding-left:3px;
    }
    .lock-join-clan-button span{
        font-size: 18px;
    }
    .lock-join-clan-button img{
        width: 25px;
    }
    .create_btn{
        width: 182.7px;
    }
}
@media only screen and (min-width:1400px){

    .clan-img{
        height: 118px;
        width: 118px;
    }
    .main-button {
        height: 55px;
    }
    .main-button span{
        font-size: 24px;
        font-weight: 700;
    }
    .lock-join-clan-button{
        background-color: #555555;
        padding-left:15px;
    }
    .lock-join-clan-button span{
        font-size: 20px;
    }
    .lock-join-clan-button img{
        width: 25px;
    }
    .create_btn{
        width: 212.84px;
    }
} */
