<div class="background-nofx">
	<div class="content container" style="position: relative;">
		<div style="position: absolute; right: -30px;top: -30px;">
			<a routerLink="/map">
				<div>
					<i class="material-icons md-bold md-80 md-white" >close</i>
				</div>				
			</a>
		</div>
		<div class="row" style="margin-left: 10px;margin-top: 50px;margin-bottom: 50px;">
			<div class="col">
				<span class="title-text">CLANES ISLAND</span>
			</div>
		</div>
		<div style="width: 90%;overflow: hidden;">
			<div style="padding-left: 12%;" class="ul">
				<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
					<div class="row li-item align-items-center">
						<div class="col-sm-2">
							<img *ngIf="item.image" src={{environment.asset_base_url}}{{item.image}} style="width: 100%;">
						</div>
						<div class="col-sm-4" style="padding-top: 20px;">
							<span class="content-text" style="margin-top: 20px;" [style.color]="item.clan_color">{{item.name}}</span>
							<span ><br><br> </span>
							<span class="content-text">{{item.joined_members}}/{{item.max_members}}</span>
							<span *ngIf="item.joined_members == item.max_members" class="content-text">COMPLETO</span>
						</div>
						<div class="col-sm-auto" *ngIf="item.max_members> item.joined_members" style="margin-left: 10%;">
							<a routerLink="/clan/added/{{item.id}}">
								<button style="height:50px; font-weight: 1200;" mat-raised-button class="join-clan-button main-button	" color="primary">
									<span>UNIRSE A CLAN</span>
								</button>
							</a>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
		
		<div class="row" style="padding-left: 12%;margin-top: 30px;">
			<div class="col-sm-6">
				<span class="content-text" style="font-weight: 600;">O CREA TU PROPIO CLAN</span>
			</div>
			<div class="col-sm-2">
				<a routerLink="/clan/create">
					<button style="width: 150%; height:50px;background-color: #0B3E78; margin-left: 70%;" mat-raised-button class="main-button" color="primary">
						<span>CREAR CLAN</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>


