<!--
<div class="background-fx">
	<app-user-header></app-user-header>
	<div class="content" style="position: relative;">
		<div style="position: absolute; right: 2.5%;top: 3%;z-index: 2">
			<a routerLink="/map">
				<div>
					<i class="material-icons md-bold md-white cross-size" >close</i>
				</div>				
			</a>
		</div>
		<div class="row" style="padding-top: 5.6%;padding-left: 2.22%;position: relative;">
			<div class="col">
				<span class="title-text">CLANES ISLAND</span>
			</div>
		</div>
		<div class="row" style="padding-left: 4.22%;position: relative;margin-top: 1%;height: 65.33%">
			<div style="width: 90%;">
				<div class="ul">
					<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
						<div *ngIf="item.id!=user.joined_clan" class="row li-item align-items-center">
							<div class="col-sm-2">
								<img *ngIf="item.image" class="clan-img" src={{environment.asset_base_url}}{{item.image}}>
							</div>
							<div class="col-sm-6" style="margin-left: -4%;">
								<span class="content-text" style="margin-top: 20px;" [style.color]="item.clan_color">{{item.name}}</span>
								<span ><br><br> </span>
								<span class="content-text">{{item.joined_members + 1}}/{{item.max_members}}</span>
								<span *ngIf="item.joined_members == item.max_members" class="content-text">COMPLETO</span>
							</div>
							<div class="col" *ngIf="item.max_members> item.joined_members + 1">
								<a routerLink="/clan/added/{{item.id}}" style="float: right;">
									<button mat-raised-button class="join-clan-button main-button	" color="primary">
										<span>UNIRSE A CLAN</span>
									</button>
								</a>
							</div>
							<div class="col" *ngIf="item.max_members == item.joined_members + 1">
								<a style="float: right;">
									<button mat-raised-button class=" lock-join-clan-button main-button">
										<img src="/assets/images/icons/lock small.png">
										<span>UNIRSE A CLAN</span>
									</button>
								</a>
							</div>					
						</div>
					</ng-template>

				</div>
			</div>
		</div>
		
		<div class="row" style="padding-left: 4.22%;margin-top: 10px;">
			<div class="col-sm-8 vertical-child-center">
				<span class="content-text" style="font-weight: 600;">O CREA TU PROPIO CLAN</span>
			</div>
			<div class="col" style="padding-right: 10%">
				<a routerLink="/clan/create" style="float: right;">
					<button mat-raised-button class="main-button create_btn" style="background-color: #fe8d00" color="primary">
						<span>CREAR CLAN</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

-->

<main id="content">
	<button class="close" name="close" type="submit" value="close">close</button>
	<h2>Clanes listos para la Mission</h2>
	<div id="inner-content">
		<!-- <div id="inner-content"> -->
			<ng-template ngFor let-item [ngForOf]="clans" let-i="index">
				<div class="item">
					<div class="clan-color" [style.background-color]="item.clan_color"></div>
					<img class="item-img" src={{environment.asset_base_url}}{{item.image}}>
					<h3>{{item.name}}</h3>
					<p>{{item.joined_members + 1}}/{{item.max_members}}</p>
					<button disabled>UNIRSE A CLAN</button>
				</div>	
			</ng-template>
			
			<!--
			<div class="item">
				<div class="clan-color" style="background-color: #24894F"></div>
				<img class="item-img" src="assets/img/avatars/t5d.png">
				<h3>Inner Content Name</h3>
				<p>content info</p>
				<button disabled>ACTION</button>
			</div>
			<div class="item">
				<div class="clan-color" style="background-color: #5E55C9"></div>
				<img class="item-img" src="assets/img/avatars/t4c.png">
				<h3>Inner Content Name</h3>
				<p>content info</p>
				<button disabled>ACTION</button>
			</div>
			<div class="item">
				<div class="clan-color" style="background-color: #DBA220"></div>
				<img class="item-img" src="assets/img/avatars/t2b.png">
				<h3>Inner Content Name</h3>
				<p>content info</p>
				<button>ACTION</button>
			</div>
			<div class="item">
				<div class="clan-color" style="background-color: #B8F851"></div>
				<img class="item-img" src="assets/img/avatars/t5d.png">
				<h3>Inner Content Name</h3>
				<p>content info</p>
				<button>ACTION</button>
			</div>
			<div class="item">
				<div class="clan-color" style="background-color: #24894F"></div>
				<img class="item-img" src="assets/img/avatars/t6d.png">
				<h3>Inner Content Name</h3>
				<p>content info</p>
				<button>ACTION</button>
			</div>
			-->
		<!--</div> #inner-content -->


	</div><!-- #container -->


	<div id="main-actions">
		
		<img src="assets/images/icons/question-mark.png" style="width:10%;">
		<label>Crea tu propio Clan</label>
		<button>CREAR CLAN</button>
	</div>
</main>
