/* .content {
    margin-top: 2%;
    margin-left: 9.2%;
    margin-right: 9.2%;
    
    height: 78.55%;
    width: 82.5%;
    background-color: rgba(0,0,0,0.60);
}
.ul.li-item{
    min-height: 130px;
}
.ul{
    
    height: 100%;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing: content-box;
}
.main-button {
    height: 50px;
}
.main-button span{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px ;
    text-align: left;
    border-radius: 5px;
}
.join-clan-button{
    background-color: #fe8d00;
    border: 0px solid #D1D1D1;
    border-radius: 3px;
}

.lock-join-clan-button{
    font-size: 20px;
    background-color: #555555;
    padding-left:7px;
}
.lock-join-clan-button span{
    font-size: 14px;
}

.clan-img{
    height: 70px;
    width: 70px;
}

.lock-join-clan-button img{
    width: 20px;
}
.create_btn{
    width: 152.73px;
}
@media only screen and (min-width:1280px){

    .clan-img{
        height: 100px;
        width: 100px;
    }
    .main-button {
        height: 50px;
    }
    .main-button span{
        font-size: 20px;
        font-weight: 700;
    }
    .lock-join-clan-button{
        background-color: #555555;
        padding-left:3px;
    }
    .lock-join-clan-button span{
        font-size: 18px;
    }
    .lock-join-clan-button img{
        width: 25px;
    }
    .create_btn{
        width: 182.7px;
    }
}
@media only screen and (min-width:1400px){

    .clan-img{
        height: 118px;
        width: 118px;
    }
    .main-button {
        height: 55px;
    }
    .main-button span{
        font-size: 24px;
        font-weight: 700;
    }
    .lock-join-clan-button{
        background-color: #555555;
        padding-left:15px;
    }
    .lock-join-clan-button span{
        font-size: 20px;
    }
    .lock-join-clan-button img{
        width: 25px;
    }
    .create_btn{
        width: 212.84px;
    }
} */
/*
 * Container style
 */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0.5;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0.5;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 6px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: #505050;
  border-radius: 6px;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #505050;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #FF870D;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #FF870D;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
  border-radius: 6px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #FF870D;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #FF870D;
  /*width: 11px;*/
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
