.head-text{
	line-height: 36px;
    color: #fe8d00;
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}
.top{
    margin-top: 10px;
}
.error-top{
    margin-top: 40px;
}
.clan-img{
    width: 80px;
    height: 80px;
}
.view-button{
    height: 40px;
    width: 160px;
}
@media only screen and (min-width:1280px){
    .head-text {
        line-height: 44px;
        font-weight: 600;
        font-size: 36px;
    }
    .top{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .error-top{
        margin-top: 70px;
    }
    .clan-img{
        width: 100px;
        height: 100px;
    }
    .view-button{
        height: 50px;
        width: 160px;
    }

}
@media only screen and (min-width:1400px){
    .head-text {
        line-height: 49px;
        font-size: 40px;
    }
    .top{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .error-top{
        margin-top: 100px;
    }
    .clan-img{
        width: 160px;
        height: 160px;
    }
    .view-button{
        height: 60px;
        width: 180px;
    }
}

