<div class="container">
	<ng-container *ngIf="notification.clan_id > 0">
		<div class="row align-items-center" style="position: relative;">
			<div style="position: absolute;top: 2%;right: 2%;z-index: 2">
				<i (click)="close()" class="pointer material-icons md-bold cross-size md-white" style="color: #fe8d00;">close</i>
			</div>
			<div class="col" style="text-align: center;">
				<span class="head-text">¡Felicidades!<br></span>

				<span class="head-text">Te has unido al clan de </span>				
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row justify-content-center top">
				<div class="vertical-child-center" >
					<img class="clan-img" src="{{environment.asset_base_url}}{{notification.clan_image}}">
				</div>
				<div class="vertical-child-center" >
					<span class="head-text" style="margin-left:20px; color: #000">{{notification.clan_name}}</span>
				</div>
		</div>
		<div class="row justify-content-center" >
			<a routerLink="/clan/{{notification.clan_id}}">
				<button mat-raised-button class="view-button" [mat-dialog-close]="" color="primary" style="border-radius:25px;background-color:#FE8D00;">
					<span class="content-text"><font color="white">Ver clan</font></span>
				</button>
			</a>
		</div>
	</ng-container>
	<ng-container *ngIf="notification.clan_id <= 0">
		<div class="row align-items-center error-top" style="position: relative;">
			<div style="position: absolute;top: 2%;right: 2%;z-index: 2">
				<i (click)="close()" class="pointer material-icons md-bold cross-size md-white" style="color: #fe8d00;">close</i>
			</div>
			<div class="col" style="text-align: center;">
				<span class="head-text">Lo siento!<br></span>

				<span class="head-text">No puedes unirte porque creaste tu propio clan.</span>				
			</div>
		</div>
		<div class="row">
			
		</div>
	</ng-container>

</div>