/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.material-icons.md-80 { font-size: 80px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-bold { font-weight: bold; }
.material-icons.md-white { color: rgba(255, 255, 255, 1.0); }

.background-fx {
    background-image: url(/assets/images/map/map-final-2x.png);
    background-size: 100% 100%;
    position: relative;
    width:100%;
    min-height: 700px;
    /* display: inline-block; */
}
.background-nofx {
    background-image: url(/assets/images/map/map-final-2xNo_fx.png);
    background-size: 100% 100%;
    position: relative;
    width:100%;
    min-height: 700px;
    /* display: inline-block; */
}
.background-green{
    background-color: #3F9D2F;
    background-size: 100% 100%;
    position: relative;
    width:100%;
    min-height: 700px;
    /* display: inline-block; */
}
button{
    border-radius: 5px;
}
.vertical-child-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-text {
    /* line-heigh */
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 750;
    font-size: 40px;
    text-align: left;
    margin-left: 50px;
}
.pointer {cursor: pointer;}
.content-text {
    /* line-height: 44px; */
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
}
.select-avatar-dialog .mat-dialog-container{
    border-radius: 25px;
}
.dialog .mat-dialog-container{
    border-radius: 25px;
}
