/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "css.css";

.material-icons.md-80 { font-size: 80px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-bold { font-weight: bold; }
.material-icons.md-white { color: rgba(255, 255, 255, 1.0); }
.container-fluid{
    padding: 0px;
}
.background-fx,.background-nofx {
    position: relative;
    width:100%;
    height: 100%;
}
.background-fx::after {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/map/map-final-2x.png);
    background-size: 100% 100%;

    position: absolute;
    content: "";

    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.9;
}
.background-nofx::after {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/map/map-final-2xNo_fx.png);
    background-size: 100% 100%;

    position: absolute;
    content: "";

    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.9;
}

.background-ranking {
    background-image: url(/assets/images/map/fight-con-fondo.png);

    background-size: 100% 100%;
    position: relative;
    height:100%;
    width: 100%;
    min-height: 400px;
    opacity: 0.95;
    /* display: inline-block; */
}
.dark-effect{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.36);
    z-index: -1;
}

.background-green{
    background-color: #3F9D2F;
    background-size: 100% 100%;
    position: relative;
    width:100%;
    min-height: 400px;
    /* display: inline-block; */
}

button{
    border-radius: 5px;
}
.vertical-child-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-text {
    /* line-heigh */
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 750;
    font-size: 40px;
    text-align: left;
}
.pointer {cursor: pointer;}
.content-text {
    /* line-height: 44px; */
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 22px;
    text-align: left;
}
.select-avatar-dialog .mat-dialog-container{
    border-radius: 25px;

}
.dialog .mat-dialog-container{
    border-radius: 25px;
    width: 577px;
    height: 240px;
}
@media only screen and (min-width:1280px){
    .dialog .mat-dialog-container{
        width: 800px;
        height: 350px;
    }
}
.btn-font1{
    font-size: 20px;
    font-family: Raleway;
    font-weight: 600;
}
@media only screen and (min-width:1280px){
    .btn-font1{
        font-size: 24px;
    }
}
.content-font1{
    font-size: 32px;
    font-family: Raleway;
    font-weight: 800;
}
.content-font2{
    font-size: 24px;
    font-family: Raleway;
    font-weight: 300;
}


/*Responsive CSS */
.title-text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 28px;
    text-align: left;
}
.cross-size{
    font-size: 40px;
}
@media only screen and (min-width:1024px){
    .title-text {
        font-size: 28px;
    }
    .cross-size{
        font-size: 40px;
    }

}
@media only screen and (min-width:1280px){
     .title-text {
        font-size: 36px;
    }
    .cross-size{
        font-size: 45px;
    }
    .content-text {
        /* line-height: 44px; */
        font-size: 28px;
    }
}