/* You can add global styles to this file, and also import other style files */
/*@import "css.css";*/
@import "/assets/css/perfect-scrollbar.css";
@import "/assets/css/font_format.css";
/*Quasi CSS*/

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    body, html, div, p, a, img, header, section, nav, main, li, ul, button, h1, h2, h3, h4{
        margin: 0;
        padding: 0;
        display: block;
    }



/* Typography */
    body{
        font-family: 'Fira Sans', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color:white;
        /* because white fonts: */
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
    }

    h1, h2, h3, h4, .notifications, .score{
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: 800;
        padding: 0;
    }
    input{
        font-size: 16px;
        font-family: 'Fira Sans', sans-serif;
    }
    button, 
    input[type=button],
    input[type=submit]{
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: 700;
        color:#FF870D;
    }
    .subtitle{
        font-size: 16px;
        font-weight: 300;
    }
    .label, label{
        font-style: italic;
    }
    h1{
        font-size: 30px;
        line-height: 1.2;
        margin:0;
    }
    h2, 
    .score{
        font-size: 24px;
        line-height: 1.2;
    }
    h2{
        text-align: center;
    }
    h3{
        font-size: 20px;
        line-height: 1.2;
    }
    h4{
        font-size: 18px;
        line-height: 1.2;
    }
    #new-notifications{
        font-size: 8px;
        color: white;
        text-align: center;
        line-height: 11px;
    }
    button{
        font-size: 22px;
    }
    .item button{
        font-size: 18px;
    }
    /* BUTTONS & FIELDS */
    button, 
    input[type=button],
    input[type=submit]{
        border:none;
        background: transparent;
        padding: 0 20px;
        height: 48px;
        line-height: 48px;
        -webkit-transform-origin: center;
           -moz-transform-origin: center;
            -ms-transform-origin: center;
             -o-transform-origin: center;
                transform-origin: center;
    }
    .item button, 
    .item input[type=button],
    .item input[type=submit]{
        height: 38px;
        line-height: 38px;
    }
        button:hover, 
        input[type=button]:hover,
        input[type=submit]:hover{
            cursor: pointer;
            -webkit-transform: scale(1.2) translateY(0.1%);
               -moz-transform: scale(1.2) translateY(0.1%);
                -ms-transform: scale(1.2) translateY(0.1%);
                 -o-transform: scale(1.2) translateY(0.1%);
                    transform: scale(1.2) translateY(0.1%);
                    text-shadow: 0 3px 12px #000000;
        }
        button:disabled, 
        input[type=button]:disabled,
        input[type=submit]:disabled{
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
              filter: alpha(opacity=33); 
              opacity: 0.33;
        }
            button:disabled:hover, 
            input[type=button]:disabled:hover,
            input[type=submit]:disabled:hover{
                border-color: transparent;
                cursor: default;
                -webkit-transform: scale(1) translateY(0);
                   -moz-transform: scale(1) translateY(0);
                    -ms-transform: scale(1) translateY(0);
                     -o-transform: scale(1) translateY(0);
                        transform: scale(1) translateY(0);
            }
        button.close{
            height: 27px;
            width: 27px;
            display: block;
            background: url('/assets/img/icons/close.png') center no-repeat;
            background: url('./assets/img/icons/close.svg') center no-repeat;
            background-size: 100%;
            padding: 0;
            text-indent: -99999em;
            border-bottom: none;
            opacity: 1.0;
        }
        .close:hover {
                background-size: 120%;
            }
/*Main Body*/
.Main:before{
    z-index: -2;
    content:'';
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: url('/assets/img/bg/map.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-box-shadow:inset 0 0 200px 25px #14130f;
            box-shadow:inset 0 0 200px 25px #14130f;
}
#content{
        /*display: none;*/
        z-index: 2;
        position: relative;
        overflow: auto;
        background-color: rgba(0,0,0,.8);
        width: 700px;
        height: 600px;
        margin: 128px auto 64px auto;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        -webkit-box-shadow: 0 5px 6px 0 rgba(0,0,0,.16);
                box-shadow: 0 5px 6px 0 rgba(0,0,0,.16);
    }


        #content .close{
            position: absolute;
            top: 20px;
            right: 20px;
        }

        h2{
            margin-top: 20px;
            height: 30px;
        }
        #inner-content{
            margin: 20px 30px 10px 55px;
            position: relative;
            width:610px;
            height: 422px;
            overflow-y: auto;
        }
        #main-actions{
            width: 100%;
            height: 108px;
            position:absolute;
            left: 0;
            bottom: 0;
            padding: 20px 120px 40px 120px;

        }

        /* #inner-content */
            .scroller:before,
            .scroller:after{
                content: '';
                height: 1px;
                width: 80%;
                position: absolute;
                left: 10%;
                background-color: $707070;
                background: -moz-linear-gradient(left,  rgba(112,112,112,0) 0%, rgba(112,112,112,1) 50%, rgba(112,112,112,0) 100%);
                background: -webkit-linear-gradient(left,  rgba(112,112,112,0) 0%,rgba(112,112,112,1) 50%,rgba(112,112,112,0) 100%);
                background: linear-gradient(to right,  rgba(112,112,112,0) 0%,rgba(112,112,112,1) 50%,rgba(112,112,112,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00707070', endColorstr='#00707070',GradientType=1 );
            }
                .scroller:before{
                    top:70px;
                }
                .scroller:after{
                    bottom:108px;
                }
                .item{
                    position:relative;
                    margin: 10px;
                     height: auto; 
                     padding: 10px;
                }

                    .item img{
                        width: 60px;
                        height: auto;
                        position: absolute;
                        left: 10px;
                        top:10px;
                    }
                    .item .clan-color{
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        left: 20px;
                        top:20px;
                        -webkit-border-radius: 100px;
                                border-radius: 100px;
                    }
                    .item h3{
                        position: relative;
                        margin-left: 90px;
                        margin-top:0px;
                    }
                    .item p{
                        position: relative;
                        margin-left: 90px;
                        margin-top: 44px;
                        margin-top: 10px;

                    }
                    .item button{
                        position: absolute;
                        right: 10px;
                        top: 0;
                        bottom:0;
                        margin: auto 0;
                    }


        /* #main-actions */
            #main-actions button:first-of-type{
                position: absolute;
                top: 20px;
                left: 120px;
            }
            #main-actions button:nth-of-type(2){
                position: absolute;
                top: 20px;
                right: 120px;
            }
            /*RESPONSIVE*/
                /* MAIN */
    @media screen and (min-height: 790px){
        #content{
            margin-top: 20vh;
        }
    }
/* TRANSITIONS */
    a,
    button, 
    input[type=button],
    input[type=submit]{
        -webkit-transition: all .3s ease-out;
           -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
             -o-transition: all .3s ease-out;
                transition: all .3s ease-out;
    }

/*Origin CSS*/
.container-fluid{
    padding: 0px;
}
.background-fx,.background-nofx {
    position: relative;
    width:100%;
    height: 100%;
}
.background-fx::after {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/map/map-dark.png);
    background-size: 100% 100%;

    position: absolute;
    content: "";

    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.9;
}
.background-nofx::after {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/map/map-final-2xNo_fx.png);
    background-size: 100% 100%;

    position: absolute;
    content: "";

    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.9;
}

.background-ranking {
    background-image: url(/assets/images/map/fight-con-fondo.png);

    background-size: 100% 100%;
    position: relative;
    height:100%;
    width: 100%;
    min-height: 400px;
    opacity: 0.95;
    /* display: inline-block; */
}
.dark-effect{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.36);
    z-index: -1;
}

.background-green{
    background-color: #3F9D2F;
    background-size: 100% 100%;
    position: relative;
    width:100%;
    min-height: 400px;
    /* display: inline-block; */
}

button{
    border-radius: 5px;
}
.vertical-child-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-text {
    /* line-heigh */
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 750;
    font-size: 40px;
    text-align: left;
}
.pointer {cursor: pointer;}
.content-text {
    /* line-height: 44px; */
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 22px;
    text-align: left;
}
.select-avatar-dialog .mat-dialog-container{
    border-radius: 25px;
    width: 577px;
    height: 240px;
}

.gift-check-dialog .mat-dialog-container{
    border-radius: 25px;
    width: 600px;
    height: 320px;
}
.dialog .mat-dialog-container{
    border-radius: 25px;
    width: 577px;
    height: 240px;
}
@media only screen and (min-width:1280px){
    .dialog .mat-dialog-container{
        width: 800px;
        height: 350px;
    }
    .select-avatar-dialog .mat-dialog-container{
        width: 653px;
        height: 330px;
    }
    .gift-check-dialog .mat-dialog-container{
        width: 653px;
        height: 350px;
    }
}
@media only screen and (min-width:1400px){
    .dialog .mat-dialog-container{
        width: 1102px;
        height: 449px;
    }
    .select-avatar-dialog .mat-dialog-container{
        width: 800px;
        height: 399px;
    }
    .gift-check-dialog .mat-dialog-container{
        width: 800px;
        height: 400px;
    }
}
.btn-font1{
    font-size: 20px;
    font-family: Raleway;
    font-weight: 600;
}
@media only screen and (min-width:1280px){
    .btn-font1{
        font-size: 24px;
    }
}
.content-font1{
    font-size: 32px;
    font-family: Raleway;
    font-weight: 800;
}
.content-font2{
    font-size: 24px;
    font-family: Raleway;
    font-weight: 300;
}


/*Responsive CSS */
.title-text {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 28px;
    text-align: left;
}
.cross-size{
    font-size: 40px;
}
@media only screen and (min-width:1024px){
    .title-text {
        font-size: 28px;
    }
    .cross-size{
        font-size: 40px;
    }

}
@media only screen and (min-width:1280px){
     .title-text {
        font-size: 36px;
    }
    .cross-size{
        font-size: 45px;
    }
    .content-text {
        /* line-height: 44px; */
        font-size: 28px;
    }
}
@media only screen and (min-width:1400px){
     .title-text {
        font-size: 40px;
    }
    .cross-size{
        font-size: 50px;
    }
    .content-text {
        /* line-height: 44px; */
        font-size: 32px;
    }
}
