<div class="background-green">
	<div class="content">
		<div class="row align-items-center" style="padding-top: 20px;">
			<div class="col-sm-8">
				<span class="title-text">RANKING</span>
			</div>
			<div class="col-sm-4">
				<span class="content-text">PUNTOS</span>
			</div>
		</div>
		<div class="row align-items-center" style="padding-top: 20px;">
			<div class="col-sm-8">
				<span class="title-text">RANKING</span>
			</div>
			<div class="col-sm-4">
				<span class="content-text">PUNTOS</span>
			</div>
		</div>
	</div>
</div>