.content {
    margin: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 500px;
    width: 90%;
}
/*.title-text {
    line-height: 78px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 800;
    font-size: 64px;
    text-align: left;
}
.content-text {
	line-height: 44px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-weight: 600;
    font-size: 36px;
    text-align: left;
}*/
.hidden-scroll{
    height: 430px;
    width: 100%;
/*    border-bottom-style: solid;
    border-bottom-color: #fff;
*/
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing: content-box;     
}