<div class="background-green">
	<div class="content">
		<div class="row align-items-center" style="padding-top: 20px;">
			<div class="col-sm-8">
				<span class="title-text">RANKING</span>
			</div>
			<div class="col-sm-4">
				<span class="content-text">PUNTOS</span>
			</div>
		</div>
		<div style="width: 90%;overflow: hidden;">
			<div style="padding-left: 12%;" class="hidden-scroll">
				<ng-template ngFor let-item [ngForOf]="users" let-i="index">
					<div class="row align-items-center" style="padding-top: 20px;">
						<div class="col-sm-2">
							<img src={{item.image_url}} style="width: 80%;">
						</div>
						<div class="col-sm-6">
							<span class="content-text">Cristina Rodriguez</span>
						</div>
						<div class="col-sm-4">
							<span class="content-text">1658</span>
						</div>
					</div>
				</ng-template>
			</div>
		</div>

	</div>
	<div class="row bottom" style="margin:0;background-color: #A3D0A2">
		<div class="col-sm-8" style="text-align: center;">
			<span class="content-text" style="color: #3F9D2F">          MILENA ALI</span>
		</div>
		<div class="col-sm-2">
			<span class="content-text" style="color: #3F9D2F">255</span>
		</div>
	</div>
</div>
